<div class="naira__header">
<h3 class="naira__title">
Ride-hailing Business
</h3>
<span class="naira__desc">
I like the experience so far and I am glad that I have the chance to do a job I really like
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Driving For (Company):</td>
<td class="text-right text-capitalize">
Taxify & Uber
</td>
</tr>
<tr>
<td>Driving For (Period):</td>
<td class="text-right">Above 24 Months</td>
</tr>
<tr>
<td>Current Rating:</td>
<td class="text-right">4.76</td>
</tr>
<tr>
<td>Total Trips:</td>
<td class="text-right">170,000 KM</td>
</tr>
<tr>
<td>Drives In:</td>
<td class="text-right">Lagos</td>
</tr>
<tr>
<td>Weekly Income:</td>
<td class="text-right text-capitalize">28,000 naira</td>
</tr>
</tbody>
</table>
</div>