<div class="naira__header">
<h3 class="naira__title">
Hire Purchase Summary
</h3>
<span class="naira__desc">
Details on member's active car instalment plan
</span>
</div>
<div class="table-responsive">
<table class="table kt-margin-b-0">
<tbody>
<tr>
<td>Car Model:</td>
<td class="text-right"></td>
</tr>
<tr>
<td>Total Price:</td>
<td class="text-right">&#8358;<span data-format="comma"></span></td>
</tr>
<tr>
<td>Weekly Instalment:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Current Payment:</td>
<td class="text-right">&#8358;<span data-format="comma">0</span></td>
</tr>
<tr>
<td>Remaining Payment:</td>
<td class="text-right">&#8358;<span data-format="comma">0</span></td>
</tr>
<tr>
<td>Remaining Weeks:</td>
<td class="text-right">0 weeks</td>
</tr>
<tr><td colspan="2">Member currently does not have any hire purchase plan</td></tr>
</tbody>
</table>
</div>