<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
<div class="kt-subheader__main">	
<h3 class="kt-subheader__title">Nairalife Group Contribution #01826351ADC</h3>
<div class="kt-subheader__breadcrumbs">
<a href="/" class="kt-subheader__breadcrumbs-home"><i class="la la-home"></i></a>
<a href="/admin/dashboard" class="kt-subheader__breadcrumbs-link">
Dashboard
</a>
<span class="kt-subheader__breadcrumbs-separator"></span>
<a href="#" class="kt-subheader__breadcrumbs-link">
01826351ADC
</a>
</div>
</div>

<div class="kt-subheader__toolbar">
<div class="kt-subheader__wrapper">
<a href="#" class="btn btn-warning kt-subheader__btn-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Contributions Menu <span class="la la-caret-down kt-margin-l-5" style="margin-top:-2px;font-size:1.8rem;"></span>
</a>
<div class="dropdown-menu dropdown-menu-right kt-padding-b-10" style="min-width:205px;">
<a class="dropdown-item" href="#"><i class="la la-refresh"></i> Retry Contributions</a>
<a class="dropdown-item" href="#"><i class="la la-money"></i> Pay Member</a>
</div>
</div>
</div>

</div>
<!-- end:: Subheader -->