<p class="kt-margin-t-30"></p>

<!-- end:: Content -->
</div>
</div>
</div>


<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
<div class="kt-footer__logo">
<a href="#">
<img alt="Nairalife" src="/images/naira.png" style="width:30px;">
</a>
<div class="kt-footer__copyright">
2019&nbsp;&copy;&nbsp;
<a href="#">Nairalife Savings Group</a>
</div>
</div>
<div class="kt-footer__menu">
<a href="/admin/change" class="kt-footer__menu-link">Change Points</a>
<a href="/admin/create" class="kt-footer__menu-link">Create Group</a>
<a href="#" class="kt-footer__menu-link">Logout</a>
</div>
</div>
<!-- end:: Footer -->


</div>
</div>
</div>
<!-- end:: Page -->



<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>



</body>
<!-- end::Body -->
</html>