<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
<div class="kt-subheader__main">	
<h3 class="kt-subheader__title">Nairalife Group #<%= group.group_id %></h3>
<div class="kt-subheader__breadcrumbs">
<a href="/" class="kt-subheader__breadcrumbs-home"><i class="la la-home"></i></a>
<a href="/admin/dashboard" class="kt-subheader__breadcrumbs-link">
Dashboard
</a>

<span class="kt-subheader__breadcrumbs-separator"></span>
<a href="/admin/groups" class="kt-subheader__breadcrumbs-link">
Groups
</a>


<span class="kt-subheader__breadcrumbs-separator"></span>
<a href="/admin/group/<%= group.group_id %>" class="kt-subheader__breadcrumbs-link">
#<%= group.group_id %>
</a>

</div>

</div>

<div class="kt-subheader__toolbar">
<div class="kt-subheader__wrapper">
<button class="btn btn-secondary kt-subheader__btn-options kt-margin-r-5 get-contribution-button">
<span class="la la-globe kt-margin-r-5"></span>Get Contributions
</button>
<span class="btn btn-warning kt-subheader__btn-options" style="cursor:pointer">
<span class="la la-refresh kt-margin-r-5" style="font-size:1.8rem;"></span><span data-group_id="<%= group.group_id %>" class="restart-cycle-button">Restart Cycle</span>
</span>
</div>
</div>
</div>
<!-- end:: Subheader -->