<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
<div class="kt-subheader__main">	
<h3 class="kt-subheader__title">Nairalife Group #<%= group.group_id %></h3>
<div class="kt-subheader__breadcrumbs">
<a href="/" class="kt-subheader__breadcrumbs-home"><i class="la la-home"></i></a>
<a href="/admin/dashboard" class="kt-subheader__breadcrumbs-link">
Dashboard
</a>

<span class="kt-subheader__breadcrumbs-separator"></span>
<a href="/admin/groups" class="kt-subheader__breadcrumbs-link">
Groups
</a>


<span class="kt-subheader__breadcrumbs-separator"></span>
<a href="/admin/group/<%= group.group_id %>" class="kt-subheader__breadcrumbs-link">
#<%= group.group_id %>
</a>

</div>

</div>

<div class="kt-subheader__toolbar">
<div class="kt-subheader__wrapper">
<a href="#" class="btn btn-secondary kt-subheader__btn-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Group Menu <span class="la la-caret-down kt-margin-l-5" style="margin-top:-2px;font-size:1.8rem;"></span>
</a>
<div class="dropdown-menu dropdown-menu-right kt-padding-b-10">
<% if(group.status == "active") { %>
<a class="dropdown-item text-muted get-contribution-button"><i class="la la-globe"></i> Get Contributions</a>
<a class="dropdown-item text-muted restart-cycle-button" data-group_id="<%= group.group_id %>" style="cursor:pointer;">
<i class="la la-refresh"></i> Start New Cycle
</a>
<a class="dropdown-item" href="#"><i class="la la-plus"></i> Add Member</a>
<% } %>
<% if(group.status == "inactive") { %>
<a class="dropdown-item" href="#"><i class="la la-clock-o"></i> Start Group</a>
<% } %>
</div>
</div>
</div>
</div>
<!-- end:: Subheader -->