<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
<div class="kt-subheader__main">	
<h3 class="kt-subheader__title">Nairalife Group #<%= group.group_id %></h3>
<div class="kt-subheader__breadcrumbs">
<a href="/" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
<a href="/admin/dashboard" class="kt-subheader__breadcrumbs-link">
Dashboard
</a>

<span class="kt-subheader__breadcrumbs-separator"></span>
<a href="/admin/groups" class="kt-subheader__breadcrumbs-link">
Groups
</a>


<span class="kt-subheader__breadcrumbs-separator"></span>
<a href="/admin/group/<%= group.group_id %>" class="kt-subheader__breadcrumbs-link">
#<%= group.group_id %>
</a>

</div>

</div>

<div class="kt-subheader__toolbar">
<div class="kt-subheader__wrapper">
<a href="/admin/create" class="btn btn-secondary kt-subheader__btn-options kt-margin-r-5">
<span class="la la-calculator kt-margin-r-5"></span> Get Contributions
</a>
<a href="/admin/contributions" class="btn btn-warning kt-subheader__btn-options">
<span class="flaticon2-refresh kt-margin-r-5"></span> Restart Cycle
</a>
</div>
</div>
</div>
<!-- end:: Subheader -->