<!--begin::Portlet-->
<div class="kt-portlet btopzero">
<div class="kt-portlet__body">
<ul class="nav nav-tabs  nav-tabs-line nav-tabs-bolder nav-tabs-line-primary" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-edit kt-margin-r-5"></i> Group Info
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-group kt-margin-r-5"></i> Group Members
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_3" role="tab">
<i class="la la-hourglass-2 kt-margin-r-5"></i> Contributions
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_4" role="tab">
<i class="flaticon2-chat-1 kt-margin-r-5"></i>Comments
</a>
</li>
</ul>
<div class="tab-content">
<% include groupinfo %>
<% include groupmem %>
<% include groupcon %>
<% include groupcom %>
</div>
<!--end::tab-content-->
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->