<div class="tab-pane" id="kt_tabs_7_4" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success">No</th>	
<th class="kt-font-bolder kt-font-success">Member</th>
<th class="kt-font-bolder kt-font-success">Comment</th>
<th class="kt-font-bolder kt-font-success">Added On</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Akin Wumi</td>
<td style="width:70%;">
This is the state of the things we find great and I am not going to deny the fact that some of us do not know the kind of things we have to do and it is rather ambiguous as we do not know if this is the state of all the things we have dabbled into right now.
</td>
<td style="width:15%;">2 days ago</td>
</tr>
<td>2</td>
<td>Wisdom Madab</td>
<td style="width:70%;">
I really like this group.
</td>
<td style="width:15%;">3 days ago</td>
</tr>
<td>3</td>
<td>Kemi Adeleke</td>
<td style="width:70%;">
I got my money and I am happy about it all.
</td>
<td style="width:15%;">4 days ago</td>
</tr>
<td>4</td>
<td>Okiki Jegede</td>
<td style="width:70%;">
This is going to work wonders and I am happy about it.
</td>
<td style="width:15%;">5 days ago</td>
</tr>
</tbody>
</table>
</div>
</div>