<div class="naira__header">
<h3 class="naira__title">
Gurantor Information
</h3>
<span class="naira__desc">
Relationship with member
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Full Name:</td>
<td class="text-right text-capitalize">
</td>
</tr>
<tr>
<td>Phone Number:</td>
<td class="text-right"></td>
</tr>
<tr>
<td>House Address:</td>
<td class="text-right"></td>
</tr>
<tr>
<td>Type of Employer:</td>
<td class="text-right"></td>
</tr>
<tr>
<td>Place of Employment:</td>
<td class="text-right"></td>
</tr>
<tr>
<td>Nature of Employment:</td>
<td class="text-right"></td>
</tr>
</tbody>
</table>
</div>


<div class="alert alert-bold fade show kt-margin-b-20" role="alert" style="border:1px solid #e1e1e1; color:#666">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Member currently has no guarantor
</div>
</div>