<div class="naira__header">
<h3 class="naira__title">
Place of Residence
</h3>
<span class="naira__desc">
Block 6, Plot H, Journalist Estate, Phase 2, Arepo, Ogun State
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Landmark:</td>
<td class="text-right">Arepo Bus Stop</td>
</tr>
<tr>
<td>City:</td>
<td class="text-right">Arepo</td>
</tr>
<tr>
<td>State:</td>
<td class="text-right">Ogun</td>
</tr>
</tbody>
</table>
</div>

<div class="alert alert-bold fade show kt-margin-b-20" role="alert" style="border:1px solid #e1e1e1; color:#666">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Member has not added residence
</div>
</div>