<div class="naira__header kt-margin-t-20">
<h3 class="naira__title">
Place of Residence
</h3>
<% if(user.house){ %>
<span class="naira__desc">
<%= user.house.address %>
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Landmark:</td>
<td class="text-right"><%= user.house.landmark %></td>
</tr>
<tr>
<td>City:</td>
<td class="text-right"><%= user.house.city %></td>
</tr>
<tr>
<td>State:</td>
<td class="text-right"><%= user.house.state %></td>
</tr>
<% } %>
<% if(!user.house){ %> 
<tr><td colspan="2">Member has not added residence</td></tr>
<% } %>
</tbody>
</table>
</div>