<div class="naira__header">
<h3 class="naira__title">
Instalment Loan Summary
</h3>
<span class="naira__desc">
Details on member's active loan
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Loan Amount:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Interest Rate:</td>
<td class="text-right">0%</td>
</tr>
<tr>
<td>Interest:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Total Payment:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Weekly Instalment:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Remaining Payment:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Loan Period:</td>
<td class="text-right">0 Weeks</td>
</tr>
<tr><td colspan="2">Member currently does not have any active loan</td></tr>
</tbody>
</table>
</div>