<% include meta %>
<% include header %>
<% include link %>

<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">


<div class="naira__header">
<h3 class="naira__title">
Instalment Loan Summary
</h3>
<span class="naira__desc">
Details of loan and current status
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Member:</td>
<td class="text-right">Akin Wumi</td>
</tr>
<tr>
<td>Loan Amount:</td>
<td class="text-right" data-format="comma">&#8358;20,000</td>
</tr>
<tr>
<td>Interest Rate:</td>
<td class="text-right">35%</td>
</tr>
<tr>
<td>Interest:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Total Amount:</td>
<td class="text-right" data-format="comma">&#8358;0</td>
</tr>
<tr>
<td>Weekly Payment:</td>
<td class="text-right" data-format="comma">&#8358;3,350</td>
</tr>
<tr>
<td>Loan Period:</td>
<td class="text-right">8 Weeks</td>
</tr>
<tr>
<td>Loan Status:</td>
<td class="text-capitalize text-right kt-font-info">Pending</td>
</tr>
</tbody>
</table>
</div>


<div class="naira__header">
<h3 class="naira__title">
Account Details
</h3>
<span class="naira__desc">
Member's bank account information
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>	
<tr>
<td>Account Name:</td>
<td class="text-right">Akin Wumi</td>
</tr>
<tr>
<td>Bank Name:</td>
<td class="text-right">Zenith Bank</td>
</tr>
<tr>
<td>Account No:</td>
<td class="text-right">2009586808</td>
</tr>
</tbody>
</table>
</div>

<div class="naira__header">
<h3 class="naira__title">
Instalment Loan Need
</h3>
<span class="naira__desc">
Why did member request for the loan?
</span>
</div>
<div class="aboutn kt-margin-b-10">
<p>
I want to use the money to settle some of my bills because there is a lock down and I am unable to work
</p>
</div>


<div class="naira__header">
<h3 class="naira__title">
Instalment Loan Term
</h3>
<span class="naira__desc">
Nairalife agreement with member
</span>
</div>

<div class="aboutn">
<p>
Akin Wumi promised to repay on instalment &#8358;<span data-format="comma">3,350</span> weekly for 8 weeks for a total of &#8358;<span data-format="comma">27,000</span> and at an interest rate of 35% starting 4 Weeks after receiving this loan
</p>
</div>

<div class="kt-login__btn kt-margin-t-20">
<button class="btn btn-secondary btn-taller btn-pill btn-wider kt-margin-r-5">
<i class="la la-thumbs-down"></i>Deny Loan
</button>
<button class="btn btn-warning btn-taller btn-pill btn-wider">
<i class="la la-thumbs-up"></i>Approve Loan
</button>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->




<script src="/js/custom/script.js"></script>
<% include footer %>