<div class="tab-pane active" id="kt_tabs_7_1" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table">
<tbody>
<tr style="border-top:0">
<td class="kt-font-bold" style="border-top:0">Full Name:</td>
<td class="text-right" style="border-top:0">
Akin Wumi
</td>
</tr>
<tr>
<td class="kt-font-bold">Userid:</td>
<td class="text-right">2882</td>
</tr>
<tr>
<td class="kt-font-bold">Email Address:</td>
<td class="text-right">akinwumi@tutanota.com</td>
</tr>
<tr>
<td class="kt-font-bold">Phone Number:</td>
<td class="text-right">08121636121</td>
</tr>
<tr>
<td class="kt-font-bold">Gurantor:</td>
<td class="text-right">Wisdom Madab</td>
</tr>
<tr>
<td class="kt-font-bold">Profile Picture:</td>
<td class="text-right"><a href="#">View</a></td>
</tr>
<tr>
<td class="kt-font-bold">Profile Bio:</td>
<td class="text-right">
30 members will contribute 1,000 naira daily and one member will receive it. This cycle continues for 30 days.
</td>
</tr>
<tr>
<td class="kt-font-bold">Membership Fee:</td>
<td class="text-right">1,000 Naira</td>
</tr>
<tr>
<td class="kt-font-bold">Earnings:</td>
<td class="text-right">Between 20,000 - 60,000 Naira</td>
</tr>
<tr>
<td class="kt-font-bold">Proof Of Earnings:</td>
<td class="text-right">-</td>
</tr>
<tr>
<td class="kt-font-bold">Preferred Contribution Amount:</td>
<td class="text-right">1,000 Naira</td>
</tr>
<tr>
<td class="kt-font-bold">Preferred Contribution Period:</td>
<td class="text-right">Daily</td>
</tr>
<tr>
<td class="kt-font-bold">Nairalife Goals:</td>
<td class="text-right">
If you want to remit delivery money, or saving for upcoming expenses etc.	
</td>
</tr>
<tr>
<td class="kt-font-bold">Nairalife Score:</td>
<td class="text-right"><span data-format="decimal">69</span></td>
</tr>
<tr>
<td class="kt-font-bold">Nairalife Points:</td>
<td class="text-right"><span data-format="decimal">824</span></td>
</tr>
<tr>
<td class="kt-font-bold">Default Rate:</td>
<td class="text-right">16%</td>
</tr>
<tr>
<td class="kt-font-bold">Joined On:</td>
<td class="text-right">13 of Dec, 2019</td>
</tr>
<tr>
<td class="kt-font-bold">Last Login:</td>
<td class="text-right">2 Days Ago</td>
</tr>
</tbody>
</table>
</div>








</div>