<div class="tab-pane" id="kt_tabs_7_3" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table">
<thead>
<tr>
<th class="kt-font-bolder">No</th>
<th class="kt-font-bolder">Reference No</th>
<th class="kt-font-bolder">Type</th>
<th class="kt-font-bolder">Amount</th>
<th class="kt-font-bolder">Date</th>
<th class="kt-font-bolder">Status</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>1256799ADD</td>
<td>Contribution</td>
<td>&#8358;1,000</td>
<td>30-01-2019</td>
<td class="text-capitalize kt-font-success">Success</td>
</tr>
<tr>
<td>2</td>
<td>0876544ECD</td>
<td>Contribution</td>
<td>&#8358;1,000</td>
<td>29-01-2019</td>
<td class="text-capitalize kt-font-danger">Cancelled</td>
</tr>
<tr>
<td>3</td>
<td>0825454DSE</td>
<td>Withdrawal</td>
<td>&#8358;28,500</td>
<td>28-01-2019</td>
<td class="text-capitalize kt-font-success">Confirmed</td>
</tr>
<tr>
<td>4</td>
<td>91762543AJ</td>
<td>Contribution</td>
<td>&#8358;1,000</td>
<td>27-01-2019</td>
<td class="text-capitalize kt-font-info">Pending</td>
</tr>
<tr>
<td>5</td>
<td>17635019OP</td>
<td>Contribution</td>
<td>&#8358;1,000</td>
<td>26-01-2019</td>
<td class="text-capitalize kt-font-success">Success</td>
</tr>
</tbody>
</table>
</div>
</div>