<!--begin::Portlet-->
<div class="kt-portlet btopzero">
<div class="kt-portlet__body">
<ul class="nav nav-tabs  nav-tabs-line nav-tabs-bolder nav-tabs-line-primary" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-edit kt-margin-r-5"></i> Personal Information
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-group kt-margin-r-5"></i> Group Details
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_3" role="tab">
<i class="la la-hourglass-2 kt-margin-r-5"></i> Nairalife History
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_4" role="tab">
<i class="la la-trophy kt-margin-r-5"></i>Nairalife Points
</a>
</li>
</ul>
<div class="tab-content">
<% include profileabout %>
<% include profilegroup %>
<% include profilehistory %>
<% include profilepoints %>
</div>
<!--end::tab-content-->
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->