<!--begin::Portlet-->
<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">
<% include about %>
<% include business %>
<% include history %>
<% include house %>
<% include requests %>
<% include guarantor %>
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->