<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-10">
<div class="kt-section__content table-responsive">
<table class="table">
<thead>
<tr>
<th class="kt-font-bolder" colspan="2">Nairalife Statistics</th>
</tr>
</thead>
<tbody>
<tr>
<td class="kt-font-bold">Total Members</td>
<td class="text-right" data-format="number">123</td>
</tr>
<tr>
<td class="kt-font-bold">Members Waiting</td>
<td class="text-right" data-format="number">54</td>
</tr>
<tr>
<td class="kt-font-bold">Total Membership Fee</td>
<td class="text-right" data-format="number">&#8358;34,000</td>
</tr>
<tr>
<td class="kt-font-bold">Average Default Rate</td>
<td class="text-right">18%</td>
</tr>
<tr>
<td class="kt-font-bold">Average Nairascore</td>
<td class="text-right" data-format="number">62</td>
</tr>
<tr>
<td class="kt-font-bold">Average Nairapoints</td>
<td class="text-right" data-format="number">3,081</td>
</tr>
<tr>
<td class="kt-font-bold">Total Groups</td>
<td class="text-right" data-format="number">5</td>
</tr>
<tr>
<td class="kt-font-bold">Total Comments</td>
<td class="text-right" data-format="number">60</td>
</tr>
<tr>
<td class="kt-font-bold">Total Contributions</td>
<td class="text-right" data-format="number">&#8358;380,000</td>
</tr>
<tr>
<td class="kt-font-bold">Total Commissions</td>
<td class="text-right" data-format="number">&#8358;72,650</td>
</tr>
<tr>
<td class="kt-font-bold">Total Withdrawals</td>
<td class="text-right" data-format="number">&#8358;307,350</td>
</tr>
<tr>
<td class="kt-font-bold">No Of Contributions</td>
<td class="text-right" data-format="number">318</td>
</tr>
</tbody>
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->