<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-10">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success" colspan="2">Nairalife Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td class="kt-font-bold">Total Members:</td>
<td class="text-right" data-format="number">0</td>
</tr>
<tr>
<td class="kt-font-bold">Active Members:</td>
<td class="text-right" data-format="number">0</td>
</tr>
<tr>
<td class="kt-font-bold">HP Total Payment:</td>
<td class="text-right" data-format="number">&#8358;0</td>
</tr>
<tr>
<td class="kt-font-bold">HP Remaining Payment:</td>
<td class="text-right" data-format="number">&#8358;0</td>
</tr>
<tr>
<td class="kt-font-bold">Total Cars:</td>
<td class="text-right" data-format="number">0</td>
</tr>
</tbody>
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->