<!--begin::Portlet-->
<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-20 kt-padding-t-10 kt-padding-b-10">
<ul class="nav nav-tabs  nav-tabs-line nav-tabs-bolder nav-tabs-line-primary" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-user kt-margin-r-5"></i> Profile Summary
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-briefcase kt-margin-r-5"></i> Business Details
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-history kt-margin-r-5"></i> Payment History
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-edit kt-margin-r-5"></i> Loan Requests
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_3" role="tab">
<i class="la la-map-marker kt-margin-r-5"></i>Residence & City
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_4" role="tab">
<i class="la la-trophy kt-margin-r-5"></i> Guarantor Details
</a>
</li>
</ul>
<div class="tab-content">
<% include about %>
<% include history %>
<% include house %>
<% include guarantor %>
</div>
<!--end::tab-content-->
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->