<!--begin::Portlet-->
<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-20 kt-padding-t-10 kt-padding-b-10">
<ul class="nav nav-tabs  nav-tabs-line nav-tabs-bolder nav-tabs-line-primary" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-user kt-margin-r-5"></i> Account Summary
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-hourglass-2 kt-margin-r-5"></i> Payment History
</a>
</li>
</ul>
<div class="tab-content">
<% include about %>
<% include history %>
</div>
<!--end::tab-content-->
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->