<div class="kt-portlet btopzero">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title">
Add Member To Nairalife Group
</h3>
</div>
</div>
<div class="kt-portlet__body add-member-form">

<div class="alert alert-danger alert-bold fade show kt-margin-t-20 kt-margin-b-20 otp-error member-error" role="alert">
<div class="alert-text">
Please, enter the amount you want to member below.
</div>
</div>

<div class="alert alert-success alert-bold fade show kt-margin-t-20 kt-margin-b-20 otp-error member-success" role="alert">
<div class="alert-text">
Please, enter the amount you want to withdraw below.
</div>
</div>

<div class="form-group">
<label>Enter User Id</label>
<input type="number" name="user_id" class="form-control form-control-lg">
</div>

<div class="form-group">
<label>Enter Group Id</label>
<input type="number" name="group_id" class="form-control form-control-lg">
</div>


<div class="kt-form__actions kt-text-align-center-mobile">
<button type="button" class="btn btn-tall btn-primary add-member-button"><i class="la la-plus"></i>Add Member</button>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->