<div class="kt-portlet btopzero">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title">
Change Member Nairalife Points
</h3>
</div>
</div>
<div class="kt-portlet__body add-points-form">

<div class="alert alert-success alert-bold fade show kt-margin-b-20 register-error add-points-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>

<div class="alert alert-danger alert-bold fade show kt-margin-b-20 register-error add-points-success" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>


<div class="form-group">
<label>User ID</label>
<input type="text" name="user_id" class="form-control form-control-lg">
</div>

<div class="form-group">
<label>Select Type</label>
<select class="custom-select custom-select-lg" name="type">
<option value=""></option>
<option value="bonus">Bonus</option>
<option value="contribution">Contributions</option>
<option value="guarantor">Guarantor</option>
<option value="default">Default</option>
</select>
</div>

<div class="form-group">
<label>Comment</label>
<textarea class="form-control form-control-lg" name="comment"></textarea>
</div>

<div class="form-group">
<label>Points</label>
<input type="number" class="form-control form-control-lg" name="points">
</div>


<div class="kt-form__actions kt-text-align-center-mobile">
<button type="button" class="btn btn-tall btn-primary add-points-button"><i class="la la-gear"></i>Change Points</button>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->