<div class="kt-portlet btopzero">


<div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10">

<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-10">


<thead>
<tr>
<th class="kt-font-bolder kt-font-success">Full Name</th>
<th class="kt-font-bolder kt-font-success">Userid</th>
<th class="kt-font-bolder kt-font-success">Phone</th>
<th class="kt-font-bolder kt-font-success">Score</th>
<th class="kt-font-bolder kt-font-success">Points</th>
<th class="kt-font-bolder kt-font-success">Balance</th>
<th class="kt-font-bolder kt-font-success"></th>
</tr>
</thead>


<tbody>

<% members.forEach(member => { %>
<tr>
<td>Aki Wumi</td>
<td>1826</td>
<td>08121636121</td>
<td>69</td>
<td>912</td>
<td>&#8358;0.00</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>
<% }) %>
<!-- <tr>
<td>Wisdom Madab</td>
<td>9276</td>
<td>08076554123</td>
<td>72</td>
<td>1,064</td>
<td>&#8358;18,000</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>

<tr>
<td>Oladapo Ibiyemi</td>
<td>6241</td>
<td>08043876121</td>
<td>34</td>
<td>487</td>
<td>&#8358;6,000</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>


<tr>
<td>Foladayo Ireti</td>
<td>9191</td>
<td>09065117862</td>
<td>0</td>
<td>0</td>
<td>&#8358;0.00</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>



<tr>
<td>Adeleke Moyosore</td>
<td>4319</td>
<td>07030597861</td>
<td>0</td>
<td>0</td>
<td>&#8358;0.00</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>

<tr>
<td>Ifayemi Aremu</td>
<td>8774</td>
<td>08031467321</td>
<td>20</td>
<td>150</td>
<td>&#8358;0.00</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>
 -->


</tbody>
</table>
</div>



</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->