<div class="kt-portlet btopzero">
<div class="kt-portlet__body">

<div class="form-group">
<label>Enter User Id</label>
<input type="number" class="form-control form-control-lg">
</div>

<div class="form-group">
<label>Enter Payment Amount</label>
<input type="number" class="form-control form-control-lg">
</div>

<div class="form-group">
<label>Select Payment Type</label>
<select class="custom-select custom-select-lg">
<option></option>
<option value="Daily">Bonus</option>
<option value="Weekly">Contributions</option>
</select>
</div>


<div class="kt-form__actions kt-text-align-center-mobile">
<button type="button" class="btn btn-tall btn-primary"><i class="la la-money"></i>Pay Member</button>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->