<div class="kt-portlet btopzero">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title">
Add to Nairalife Member Balance
</h3>
</div>
</div>
<div class="kt-portlet__body pay-member-form">
<div class="form-group">
<label>Enter User Id</label>
<input type="number"  name="user_id" class="form-control form-control-lg">
</div>

<div class="form-group">
<label>Enter Payment Amount</label>
<input type="number" name="amount" class="form-control form-control-lg">
</div>

<!-- since we are not giving users bonus, we are hiding the payment type -->
<!-- <div class="form-group">
<label>Select Payment Type</label>
<select class="custom-select custom-select-lg">
<option></option>
<option value="Daily">Bonus</option>
<option value="Weekly">Contributions</option>
</select>
</div>
 -->

<div class="kt-form__actions kt-text-align-center-mobile">
<button type="button" class="btn btn-tall btn-primary pay-member-button"><i class="la la-money"></i><span class="pay-member-text">Pay Member</span></button>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->