<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10">
<div class="kt-section__content table-responsive">
<table class="table">
<thead>
<tr>
<th class="kt-font-bolder">Nairalife Member</th>
<th class="kt-font-bolder">Reference No</th>
<th class="kt-font-bolder">Type</th>
<th class="kt-font-bolder">Amount</th>
<th class="kt-font-bolder">Date</th>
<th class="kt-font-bolder">Status</th>
</tr>
</thead>
<tbody>
<tr>
<td>Akin Wumi</td>
<td>1256799ADD</td>
<td>Contributions</td>
<td>&#8358;1,000</td>
<td>30-01-2019</td>
<td class="text-capitalize kt-font-success">Success</td>
</tr>
<tr>
<td>Wisdom Madab</td>
<td>0876544ECD</td>
<td>Savings</td>
<td>&#8358;5,000</td>
<td>29-01-2019</td>
<td class="text-capitalize kt-font-danger">Failed</td>
</tr>
<tr>
<td>Tobi Alake</td>
<td>0825454DSE</td>
<td>Withdrawal</td>
<td>&#8358;2,000</td>
<td>28-01-2019</td>
<td class="text-capitalize kt-font-info">Pending</td>
</tr>
<tr>
<td>Okiki Jegede</td>
<td>91762543AJ</td>
<td>Savings</td>
<td>&#8358;20,000</td>
<td>27-01-2019</td>
<td class="text-capitalize kt-font-success">Success</td>
</tr>
<tr>
<td>Adeleke Kemi</td>
<td>17635019OP</td>
<td>Contributions</td>
<td>&#8358;5,000</td>
<td>26-01-2019</td>
<td class="text-capitalize kt-font-success">Success</td>
</tr>
<tr>
<td>Ipadeola Tolulope</td>
<td>087252OOD</td>
<td>Contributions</td>
<td>&#8358;2,000</td>
<td>20-01-2019</td>
<td class="text-capitalize kt-font-danger">Failed</td>
</tr>
<tr>
<td>Earnest Shonekan</td>
<td>982361FGB</td>
<td>Savings</td>
<td>&#8358;1,000</td>
<td>19-01-2019</td>
<td class="text-capitalize kt-font-info">Pending</td>
</tr>
</tbody>	
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->