<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h1>About Us</h1>
</div>
<div class="aboutn kt-margin-t-30" style="text-align:left;">
<p>Nairalife provides loans of up to 1,500,000 million naira on instalment at low interest rates to ride-hailing drivers which they then pay back daily or weekly.</p>
<p>
Whether it's a down payment on a vehicle for hire purchase, emergency expenses like car maintenance, buying fuel, getting a new phone or long term loans like a car loan; Nairalife will help you thrive!</p>

<p>Here is how it works in 3 easy steps:</p>


<div class="nanswer">

<div class="nanswerbox">
<h3><span class="badge">1</span> Create Account</h3>
<p>One our website, members create an account and give us some information about their ride-hailing businesses in the process</p>
</div>

<div class="nanswerbox">
<h3><span class="badge">2</span> Verify Account</h3>
<p>We verify that they are ride-hailing drivers and that the information they've provided is accurate within a minute</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">3</span> Get Instant Loans</h3>
<p>Verified members get a loan limit which they can start withdrawing from instantly. They will get the loan within 5 minutes and once they repay, their limit increases by as much as 50%. Members can have multiple loans at a time with us</p>
</div>


<p class="kt-margin-b-10" align="left">
<b>*Please note:</b> Members must be a ride-hailing drivers working in either Lagos or Abuja to qualify for our loans
</p>

<!-- <p align="left"> 
1. One our website, members create an account and give us some information about their ride-hailing businesses in the process
</p>

<p align="left"> 
2. We verify that they are ride-hailing drivers and that the information they've provided is accurate within a minute
</p>

<p align="left">
3. Verified members get a loan limit which they can start withdrawing from instantly. They will get the loan within 5 minutes and once they repay, their limit increases by as much as 50%. Members can have multiple loans at a time with us
</p>

</ol> -->


</div>

<% include footer2 %>


</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>