<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">


<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

<!--begin::Head-->
<div class="kt-login__bottom">

</div>

<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body" id="login-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Welcome To Nairalife, Akin Wumi</h3>
<p>Please tell us somethings about you <br> so that we can provide the best service to you</p>
</div>

<!-- <div class="error" style="display:none;">Invalid Username or Password</div> -->



<!--begin::Form-->
<form class="kt-form preference-form" action="" novalidate="novalidate">

<div class="form-group">
<select class="custom-select bank-name" name="sex">
<option value="">Choose your sex</option>
<option value="male">Male</option>
<option value="female">Female</option>
</select>
</div>


<div class="form-group">
<select class="custom-select bank-name" name="relationship">
<option value="">Relationship status</option>
<option value="Single">Single</option>
<option value="Engaged">Engaged</option>
<option value="Married">Married</option>
</select>
</div>


<div class="form-group">
<select class="custom-select bank-name" name="title">
<option value="">What is your official title?</option>
<option value="none">None</option>
<option value="Mr.">Mr.</option>
<option value="Mrs.">Mrs.</option>
<option value="Miss.">Miss.</option>
<option value="Dr.">Dr.</option>
<option value="Mazi">Mazi</option>
<option value="Ogbeni">Ogbeni</option>
<option value="Otunba">Otunba</option>
<option value="Chairman">Chairman</option>
<option value="Chairwoman">Chairwoman</option>
</select>
</div>

<div class="form-group">
<textarea class="form-control" name="bio" style="height:95px" placeholder="Can you describe yourself?">
</textarea>
</div>

<div class="form-group">
<div class="custom-file">
<input type="file" class="custom-file-input" id="customFile">
<label class="custom-file-label" for="customFile" style="color:#333;">Upload profile picture (optional)</label>
</div>
</div>


<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>Please give us more information about your current occupation</span>
<span></span>
</div>
</div>
<!--end::Divider-->




<div class="form-group">
<select class="custom-select bank-name" name="work">
<option value="">How do you earn a living</option>
<option value="Freelancing">Freelancing</option>
<option value="Cooperate Work">Cooperate Work</option>
<option value="others">Others</option>
</select>
</div>




<div class="form-group">
<textarea class="form-control" name="work_description" style="height:95px" placeholder="Can you describe it?">
</textarea>
</div>




<div class="form-group">
<select class="custom-select bank-name" name="earning">
<option value="">How much do you earn monthly?</option>
<option value="30,000 - 50,000">Between 30,000 - 50,000</option>
<option value="50,000 - 100,000">Between 50,000 - 100,000</option>
<option value="100,000 - 200,000">Between 100,000 - 200,000</option>
<option value="200,000 - 500,000">Between 200,000 - 500,000</option>
<option value="500,000 - 1,000,000">Between 500,000 - 1,000,000</option>
<option value="1,000,000 - 5,000,000">Between 1,000,000 - 5,000,000</option>
<option value="5,00,000 and above">Between 5,00,000 and above</option>
</select>
</div>



<div class="form-group">
<div class="custom-file">
<input type="file" class="custom-file-input" id="customFile">
<label class="custom-file-label" for="customFile" style="color:#333;">Upload proof (optional)</label>
</div>
<p class="text-muted kt-margin-l-10">
<span class="text-danger">*</span>
Please note that a valid proof can be your account statement, proof of occupation including ID and it will increase
your reputation on Nairalife.
</p>
</div>




<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>Please give us more information about your Nairalife goals</span>
<span></span>
</div>
</div>
<!--end::Divider-->



<div class="form-group">
<select class="custom-select bank-name" name="contribution_receive">
<option value="">How much contributions do you want to receive?</option>
<option value="30,000 Monthly">30,000 Monthly</option>
<option value="60,000 Monthly">60,000 Monthly</option>
<option value="150,000 Yearly">150,000 Yearly</option>
</select>
</div>


<div class="form-group">
<select class="custom-select bank-name" name="contribution_make">
<option value="">How much contributions can you make?</option>
<option value="1,000 Daily">1,000 Daily</option>
<option value="5,000 Weekly">5,000 Weekly</option>
<option value="10,000 Monthly">10,000 Monthly</option>
</select>
</div>



<div class="form-group">
<textarea class="form-control" name="contribution_use" style="height:95px" 
placeholder="What do you want to use the contributions for when you receive it?">
</textarea>
</div>



<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary preference-submit">
<span>Submit</span>
</button>
</div>



</form>
<!--end::Form-->



</div>
<!--end::Signin-->


</div>
<!--end::Body-->



































</div>
<!--end::Content-->

</div>
</div>
</div>

<!-- end:: Page -->

<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/about.js"></script>