<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>About Us</h3>
</div>
<div class="aboutn">
<p>Nairalife is a digital platform for Uber and Bolt partners only.</p>
<p>Nairalife is owned and managed by Token Technologies Limited RC No 1448092.</p> 
<p>
On our platform, members can get Tokunbo Toyota Corolla (2003-2006) CE on higher purchase for their Uber and Bolt businesses if we find them credible.
</p>
<!-- <p class="kt-font-success">We want our members to <strike>survive</strike> thrive by helping them:</p>
<ol>
<li>Save better with our autosave and groupsave features</li>
<li>Get cars on higher purchase that is cheaper than the current market rate</li>
<p class="kt-font-success kt-margin-t-20">And in the coming future:</p>
<li>Earn extra income from inter-state rides, logistic, vehicle charter and other lucrative opportunities</li>
<li>Benefit from a community of other members in the same line of work</li>
<li>Get wealthy by providing exponential investment opportunities to them</li>
<li>Access financial services like loans, insurance, pension etc. with far superior experiences</li>
</ol> -->
</div>
<% include btn %>
<% include footer2 %>
</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>