<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Welcome To Nairalife</h3>
<p>Please tell us somethings about you <br> so that we can provide the best service to you</p>
</div>
<div class="alert alert-danger alert-bold fade show kt-margin-b-20 otp-error preference-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<!--begin::Form-->
<form class="kt-form preference-form" action="" novalidate="novalidate">
<div class="form-group">
<select class="custom-select bank-name" name="sex">
<option value="">Choose your sex</option>
<option value="male">Male</option>
<option value="female">Female</option>
</select>
</div>


<div class="form-group">
<select class="custom-select bank-name" name="relationship">
<option value="">Relationship status</option>
<option value="Single">Single</option>
<option value="Engaged">Engaged</option>
<option value="Married">Married</option>
</select>
</div>


<div class="form-group">
<select class="custom-select bank-name" name="title">
<option value="">What is your official title?</option>
<option value="none">None</option>
<option value="Mr.">Mr.</option>
<option value="Mrs.">Mrs.</option>
<option value="Miss.">Miss.</option>
<option value="Dr.">Dr.</option>
<option value="Mazi">Mazi</option>
<option value="Ogbeni">Ogbeni</option>
<option value="Otunba">Otunba</option>
<option value="Chairman">Chairman</option>
<option value="Chairwoman">Chairwoman</option>
</select>
</div>

<div class="form-group">
<textarea class="form-control" name="bio" style="height:95px" placeholder="Can you describe yourself?">
</textarea>
</div>

<div class="form-group">
<div class="custom-file">
<input type="file" class="custom-file-input" id="customFile">
<label class="custom-file-label" for="customFile" style="color:#333;">Upload profile picture (optional)</label>
</div>
</div>


<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>Your Partnership (Uber/Bolt)</span>
<span></span>
</div>
</div>
<!--end::Divider-->




<div class="form-group">
<select class="custom-select bank-name" name="work">
<option value="">Who did you partner with?</option>
<option value="Freelancing">Uber</option>
<option value="Cooperate Work">Bolt (formerly taxify)</option>
<option value="others">Uber & Bolt</option>
</select>
</div>




<div class="form-group">
<textarea class="form-control" name="work_description" style="height:95px" placeholder="Can you describe your partnership?">
</textarea>
</div>


<div class="form-group">
<select class="custom-select car_status" name="own">
<option value="">Do you own your car?</option>
<option value="Owner">Owner</option>
<option value="Rental">Rental</option>
<option value="Higher purchase">Higher purchase</option>
</select>
</div>




<div class="form-group">
<select class="custom-select bank-name" name="earning">
<option value="">How much do you make monthly?</option>
<option value="30,000 - 50,000">&#8358;30,000 - &#8358;50,000</option>
<option value="50,000 - 100,000">&#8358;50,000 - &#8358;100,000</option>
<option value="100,000 - 200,000">&#8358;100,000 - &#8358;200,000</option>
<option value="200,000 - 500,000">Above &#8358;200,000</option>
</select>
</div>



<div class="form-group">
<div class="custom-file">
<input type="file" class="custom-file-input" id="customFile">
<label class="custom-file-label" for="customFile" style="color:#333;">Upload proof (optional)</label>
</div>
<div style="margin:5px 15px 0 15px;">
<span class="text-muted">
<b>Please note:</b> that a valid proof can be your account statement, proof of occupation including ID and this will increase
your Nairalife score by as much as 20.
</span>
</div>
</div>




<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>Your Nairalife Goals</span>
<span></span>
</div>
</div>
<!--end::Divider-->



<!-- <div class="form-group">
<select class="custom-select bank-name" name="contribution_receive">
<option value="">How much contributions do you want to receive?</option>
<option value="30,000 Monthly">&#8358;30,000 Monthly</option>
<option value="60,000 Monthly">&#8358;60,000 Monthly</option>
<option value="150,000 Yearly">&#8358;150,000 Yearly</option>
</select>
</div> -->


<div class="form-group">
<select class="custom-select bank-name" name="contribution_make">
<option value="">How much contributions can you make?</option>
<option value="1000">&#8358;1,000</option>
<option value="2000">&#8358;2,000</option>
<option value="5000">&#8358;5,000</option>
<option value="10000">&#8358;10,000</option>
</select>
</div>

<div class="form-group">
<select class="custom-select bank-name" name="contribution_freq">
<option value="">How often can you make it?</option>
<option value="Daily">Daily</option>
<option value="Weekly">Weekly</option>
<option value="Monthly">Monthly</option>
</select>
</div>



<div class="form-group">
<textarea class="form-control" name="contribution_use" style="height:95px" 
placeholder="What do you want to use the contributions for when you receive it?">
</textarea>
</div>



<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary preference-submit">
<i class="la la-check-circle" style="font-size:1.8rem;"></i><span>Complete Registration</span>
</button>
</div>
</form>
<!--end::Form-->

<p class="border-dash"></p>
<div class="text-center">
<span class="text-muted">
Nairalife uses the highest levels of security to protect your information. 
For more information on how we handle your information and what we use it for, please go to our
<a href="/privacy" class="kt-link">Privacy Policy</a> 
</span>
</div>

</div>
<!--end::Signin-->


</div>
<!--end::Body-->



































</div>
<!--end::Content-->

</div>
</div>
</div>

<!-- end:: Page -->

<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/about.js"></script>