<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>About Us</h3>
</div>
<div class="aboutn">
<p>Nairalife HP is a digital instalmental plan platform for Uber and Bolt partners only.</p>
<p>Nairalife is owned and managed by Token Technologies Limited RC No 1448092.</p> 
<p>
On our platform, members can get Tokunbo Toyota Corolla 2003-2006 CE on hire purchase for their Uber and Bolt businesses.
</p>

<p>Members can pay either 2 million naira within 12 months or 2.5 million naira within 20 months for the cars.</p>

</div>
<% include btn %>
<% include footer2 %>
</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>