<% include meta %>
<% include header %>
<% include link %>

<!--begin::Portlet-->
<div class="kt-portlet">


<div class="alert alert-secondary alert-bold fade show" role="alert">
<div class="alert-icon"><i class="la la-plus-circle"></i></div>
<div class="alert-text">
Add your bank account. Your loans will be automatically sent to this account
</div>
</div>

<div class="alert alert-danger alert-bold fade show otp-error bank-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>


<!--begin::Form-->
<form class="kt-form bank-form" action="" novalidate="novalidate">
<div class="form-group">
<input class="form-control form-control-lg" type="number" placeholder="Account Number" name="account_number" autocomplete="off" 
required="true">
</div>
<div class="form-group">
<select class="custom-select custom-select-lg bank-name" name="bank_code">
<option value="">Select Bank</option>
<% banks.forEach(bank => { %>
<option value="<%= bank.code %>"><%= bank.name %></option>
<% }) %>
</select>
</div>
<div class="form-group">
<input class="form-control form-control-lg bvn-input" type="number" placeholder="Enter BVN" name="bvn" autocomplete="off" required="true">
<div style="margin:5px 20px 0;">
<span class="text-mute">
We only request for your BVN to verify your identity and ensure that the account belongs to you.
</span>
</div>
</div>

<div class="kt-login__btn">
<button class="btn btn-primary btn-taller btn-pill btn-wider kt-login__btn-primary verify-bank-button">
<i class="la la-plus-circle"></i><span class="verify-text">Add Account</span>
</button>
</div>
</form>
</div>
<!--end::Portlet-->
<% include footer3 %>

<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/account.js"></script>