<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Head-->
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Your Bank Account</h3>
<p>In order to withdraw the money you have saved or received as contributions, you need to set a withdrawal account.</p>
</div>
<div class="alert alert-danger alert-bold fade show kt-margin-b-20 otp-error bank-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<!--begin::Form-->
<form class="kt-form bank-form" action="" novalidate="novalidate">
<div class="form-group">
<input class="form-control" type="number" placeholder="Account Number" name="account_number" autocomplete="off" required="true">
</div>
<div class="form-group">
<select class="custom-select bank-name" name="bank_code">
<option value="">Select Bank</option>
<% banks.forEach(bank => { %>
<option value="<%= bank.code %>"><%= bank.name %></option>
<% }) %>
</select>
</div>
<div class="form-group">
<input class="form-control bvn-input" type="number" placeholder="Enter BVN" name="bvn" autocomplete="off" required="true">
<div style="margin:5px 15px 0 15px;">
<span class="text-muted">
<b>Please note:</b> We only request for your BVN to verify your identity and ensure that the account belongs to you.
</span>
</div>
</div>
<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary verify-bank-button">
<i class="la la-unlock"></i><span>Verify Bank</span>
</button>
</div>
<p class="border-dash"></p>
<div class="text-center">
<span class="text-muted">
Nairalife uses the highest levels of security to protect your bank account information and our payment partner Paystack is PCI DSS certified and highly reputable with partners including taxify, MTN etc. making use of their services. 
</span>
</div>
</div>
<!--end::Signin-->
</div>
<!--end::Body-->
</div>
<!--end::Content-->
</div>
</div>
</div>
<!-- end:: Page -->
<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/account.js"></script>