<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Nairalife Hire Purchase Agreement</h3>
</div>
<div class="aboutn">
<p>
Please read this Agreement, which set forth the legally binding terms and conditions for your use of the services (the “Service”) managed by Token Technologies Limited. (Nairalife or the “Company”) and the website at https://www.nairalife.com website (“Site”).
</p>


<p class="border-dash"></p>
<h4>Cancellation By You</h4>
<p>
You reserve the right to cancel agreement at the first stage but you have to pay a <b>penalty fee of 20%</b> on the total payment 
you have made by the time.
</p>


<p class="border-dash"></p>
<h4>Cancellation By Us</h4>
<p>
We reserve the right to cancel the hire purchase agreement at the first stage. On cancellation, we send you your total payment without any penalty fee.
</p> 
<p>
We can cancel an agreement with a member for a number of reasons including:
</p>
<p>1. Provision of false information during application</p>
<p>2. High default rate on daily payment obligations</p>
<p>3. High credit risk due to reasons best known to us</p>
<p>4. The guarantor provided is not credible enough</p>
</ol>
</p>
</div>
<% include footer2 %>
</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>