<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<style type="text/css">
li{
line-height:2.5rem;
font-size:1.4rem;
color:#000;
margin:0 0 0.5rem;
}	
.indexp{
font-size:1.4rem;
line-height:1.5em;
font-weight:500;
margin:1.5em 0 1.5em 1.3em;
color:#008000;
text-align: center;	
}
</style>

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">


<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

<!--begin::Head-->
<div class="kt-login__bottom">

</div>

<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body" id="login-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Start Nairalife Autosave</h3>
<p>Improve your chances of joining a Nairalife group and getting contributions much faster</p>
</div>


<div>
<p class="indexp">
Benefits Of Nairalife Autosave:
</p>
<ol>
<li>Get more Nairalife points and improve your Nairalife score</li>		
<li>Withdraw your savings anytime and get it within 5 minutes. No charges</li>
<li>Be one of the first members to be added to an available group</li>
<li>Turn off Nairalife autosave anytime you want</li>
</ol>
</div>


<div class="kt-login__btn">
<a href="#" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary">
<i class="la la-hourglass-start"></i>Start Autosave
</a>
</div>


<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<!--begin::Options-->
<div class="kt-login__bottom">
For more information message or chat with us on whatsapp on <a href="tel:08127596979">08127596979</a>
</div>

<!--end::Options-->



</div>
<!--end::Signin-->

</div>
<!--end::Body-->



































</div>
<!--end::Content-->

</div>
</div>
</div>

<!-- end:: Page -->











<!-- <div class="kt-portlet btopzero">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title">
Improve Your Nairalife Score
</h3>
</div>
</div>	
<div class="kt-portlet__body">
<p>
No Nairalife savings group that match your preferences is currently available for you to join. But don't worry, while you wait, you can still save and get as many points as possible with our autosave feature.
</p>

<p>Nairalife Autosave Advantages:</p>

<p> <b>1)</b> Get more points than others and improve your score</p>	
<p> <b>2)</b> Withdraw it anytime and get it in 5 minutes without any charges</p>
<p> <b>3)</b> When a group becomes available, we add members with the highest Nairalife score first</p>


<div class="kt-form__actions kt-text-align-center-mobile">
<a href="#" class="btn btn-success btn-taller btn-wide">
<i class="la la-toggle-on"></i> Turn Autosave Off
</a>
</div>

</div>
</div> -->