<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">


<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

<!--begin::Head-->
<div class="kt-login__bottom">

</div>

<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body" id="login-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Start Nairalife Autosave</h3>
<h4>Improve your chances of joining a Nairalife group and getting higher purchase car</h4>
</div>


<div class="aboutn">
<p class="kt-font-success kt-margin-t-10">
Benefits Of Nairalife Autosave:
</p>
<ol>
<li>Get more Nairalife points and improve your Nairalife score automatically.</li>		
<li>Withdraw your savings anytime and get it within 5 minutes.</li>
<li>Be one of the first members to be added to an available group.</li>
<li>Be one of the first members to be able to request for a higher purchase car.</li>
<li>You can turn off Nairalife autosave anytime you want.</li>
</ol>
</div>


<div class="kt-login__btn kt-margin-t-20">
<button  class="btn btn-primary btn-tallest btn-pill btn-widest start-autosave-button"><span class="start-autosave-text">
Start Autosave</span><i class="la la-angle-double-right"></i>
</button>
</div>


<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<!--begin::Options-->
<div class="kt-login__bottom">
For more information message or chat with us on whatsapp on <a href="tel:08127596979">08127596979</a>
</div>
<!--end::Options-->

</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/custom/script.js"></script>
<script type="text/javascript" src="/js/custom/autosave.js"></script>
</body>
<!-- end::Body -->
</html>