<div class="kt-portlet kt-margin-t-0">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title">
Autosave History
</h3>
</div>
</div>	

<div class="kt-portlet__body kt-padding-l-10 kt-padding-r-10 kt-padding-t-5 kt-padding-b-10">

<div class="kt-section__content table-responsive">
<table class="table kt-padding-0 kt-margin-0">
<thead>
<tr>
<th>No</th>
<th>Reference</th>
<th>Date</th>
<th>Status</th>
</tr>
</thead>
<tbody>

<% autoSaveTransactions.forEach((transaction, i) => { %>
<tr>
<td><%= i + 1 %></td>
<td class="text-uppercase"><%= transaction.reference %></td>
<td><%= transaction._doc.created_at %></td>
<td class="text-capitalize kt-font-success"><%= transaction.status %></td></tr>
<tr>
<% }) %>
</tbody>
</table>
</div>

<div class="aboutn">
<p class="border-dash" style="padding:5px 0"></p>
<p class="kt-margin-10 kt-margin-b-20">
You can withdraw your autosave balance anytime and get it within 5 minutes. If you want to turn it off, please call or message us on <b><a href="tel:08127596979">08127596979</a></b>
</p>
</div>

</div>
</div>