<div class="kt-login__actions kt-margin-t-30 kt-margin-b-20">
Are you an Uber or Bolt partner?<br> Don't just <strike>survive</strike>, <span class="kt-font-success">thrive</span> by joining Nairalife today
</div>
<div class="text-center">
<a href="/register" class="btn btn-primary btn-taller btn-pill btn-widest">
<i class="la la-users"></i>Become A Member
</a>
</div>
<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->
<!--begin::Options-->
<div class="kt-login__bottom">
<span class="kt-login__signup-label">Are you already a registered member?</span>
<br>
<div class="text-center kt-margin-t-20">
<a href="/login" class="btn btn-warning btn-taller btn-pill btn-widest">
<i class="la la-unlock"></i>Login Account
</a>	
</div>
</div>
<!--end::Options-->