<div class="kt-margin-t-10 kt-margin-b-10" align="center">
<a href="/login" class="btn btn-primary btn-taller btn-pill btn-wider">
<i class="la la-unlock"></i>Login
</a>
<a href="/register" class="btn btn-warning btn-taller btn-pill btn-wider">
<i class="la la-users"></i>Get Started
</a>
</div>