<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-20">
<div class="kt-divider">
<span></span>
<span class="kt-font-success">JOIN US</span>
<span></span>
</div>
</div>
<!--end::Divider-->
<div class="kt-login__bottom">
<div class="kt-login__signup-label kt-margin-t-20 kt-margin-b-20">
Are you an Uber or Bolt partner?<br> <!-- Don't just <strike>survive</strike>, <span class="kt-font-success">thrive</span> with Nairalife today! Request for a car today! -->
Don't just <strike>survive</strike>, <span class="kt-font-success">thrive</span> with Nairalife today!
</div>
<a href="/register" class="btn btn-primary btn-taller btn-pill btn-widest">
<i class="la la-users"></i>Become A Member
</a>
</div>
<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->
<!--begin::Options-->
<div class="kt-login__bottom">
<span class="kt-login__signup-label">Already a registered member?</span>
<br>
<div class="kt-margin-t-20">
<a href="/login" class="btn btn-warning btn-taller btn-pill btn-widest">
<i class="la la-unlock"></i>Login Account
</a>	
</div>
</div>
<!--end::Options-->