<% include meta %>
<% include header %>
<% include link %>


<!--begin::Portlet-->
<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">

<div class="naira__header naira__header__no">
<h3 class="naira__title">
Get A Car On Hire Purchase
</h3>
<span class="naira__desc">
Select a car
</span>
</div>	

<!--begin::Form-->
<form class="kt-form plan-form" action="" novalidate="novalidate">

<div class="alert alert-danger alert-bold fade show kt-margin-t-10 otp-error plan-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>

<div class="form-group kt-margin-t-10">
<textarea class="form-control" placeholder="Please tell us why we should consider your request" name="why" style="height:95px" 
required="true">
</textarea>
</div>

<div class="form-group">
<select class="custom-select custom-select-lg car-select" name="vmake">
<option value="">Select your preferred Toyota model</option>
<% for(let i = 0; i < cars.length; i++){ %> 
	<option value="<%= cars[i].id %>" data-amount="<%= cars[i].total_amount %>"><%= cars[i].name %></option>
<% } %>
</select>
</div>


<div class="alert kt-margin-t-20 kt-padding-20 kt-margin-b-5 plan-alert" role="alert" style="border:1px solid #e1e1e1;">
<div class="alert-text text-muted">
Choose a type of car above
</div>
</div>

<p class="kt-margin-t-30 kt-margin-b-20">
<span class="text-muted">
<b><span class="kt-font-danger">*</span>Please note:</b> that by clicking on "Select Car" you agree with the Nairalife hire purchase terms above.
</span>
</p>



<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-taller btn-pill btn-wider kt-login__btn-primary select-car-button">
<i class="la la-car"></i><span class="select-car-text">Select Car</span>
</button>
</div>
</form>
<!--end::Form-->

</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->
<% include footer %>
<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/plan.js"></script>