<% include meta %>
<% include header %>
<% include link %>
<!--begin::Portlet-->
<div class="kt-portlet btopzero kt-padding-10">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<span class="kt-portlet__head-title">Add your ATM card for automatic repayment on Nairalife</span>
</div>
</div>	
<div class="kt-portlet__body">
<div class="aboutn">
<p>&#8358;100 will be deducted from your account by paystack as a test and added to your current payment balance</p>
</div>
<div class="kt-login__btn kt-margin-t-10">
<button class="btn btn-primary btn-taller btn-pill btn-wider" onclick="payWithPaystack()">
<i class="la la-credit-card"></i>Add ATM Card
</button>
</div>
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->
<% include footer %>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
function payWithPaystack(event){
var handler = PaystackPop.setup({
key: 'pk_live_e689b8a7714dde9dd8a07c15c4a348568cb3dd4d',
email: '<%= user.email %>',
amount: "10000",
currency: "NGN",
channels: ["card"],
metadata: {
user_id: "<%= user.user_id %>",
id: "<%= user._id %>",
type: "CHANGE_CARD"
},
callback: triggerReload,
onClose: function(){}
});
handler.openIframe();
}
</script>

<script type="text/javascript">
function triggerReload(){
setTimeout(function(){
window.location.href = window.location.href
}, 4000)
}
</script>