<% include meta %>
<% include header %>
<% include link %>
<!--begin::Portlet-->
<div class="kt-portlet">
<div class="alert alert-secondary alert-bold fade show" role="alert">
<div class="alert-icon"><i class="la la-credit-card"></i></div>
<div class="alert-text">
We will automatically charge this card for your loan repayments. 
<b>Please note:</b> &#8358;100 charges will be deducted from this card and added to your loan available balance
</div>
</div>
<div class="kt-login__btn">
<button class="btn btn-primary btn-taller btn-pill btn-wider" onclick="payWithPaystack()">
<i class="la la-credit-card"></i>Add Card
</button>
</div>
</div>
<!--end::Portlet-->
<% include footer3 %>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
function payWithPaystack(event){
var handler = PaystackPop.setup({
key: 'pk_live_e689b8a7714dde9dd8a07c15c4a348568cb3dd4d',
email: '<%= user.email %>',
amount: "10000",
currency: "NGN",
channels: ["card"],
metadata: {
user_id: "<%= user.user_id %>",
id: "<%= user._id %>",
type: "CHANGE_CARD"
},
callback: triggerReload,
onClose: function(){}
});
handler.openIframe();
}
</script>

<script type="text/javascript">
function triggerReload(){
setTimeout(function(){
window.location.href = window.location.href
}, 4000)
}
</script>
<script type="text/javascript" src="js/custom/script.js"></script>