<div class="tab-pane" id="kt_tabs_7_2" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<tbody>
<tr style="border-top:0">
<td class="kt-font-bold" style="border-top:0">Make:</td>
<td class="text-right text-capitalize" style="border-top:0">
</td>
</tr>
<tr>
<td class="kt-font-bold">Model:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Description:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Condition:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Colour:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Year:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Fuel:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Transmission:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Body Type:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Drive Setup:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Interior Type:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Door Count:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Mileage:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Plate Number:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Registered State:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Tracker:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Insurance:</td>
<td class="text-right"></td>
</tr>
<tr>
<td class="kt-font-bold">Photos:</td>
<td class="text-right"></td>
</tr>
</tbody>
</table>
</div>
</div>