<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Contact Us</h3>
</div>
<div class="text-center">
<p>We live and work from Block H, plot 6, Journalist Estate Phase 2, Arepo, close to Berger Lagos State.
You are welcome to come visit us anytime, anyday.
</p>
<p>You can also call or message us on whatsapp on <b><a href="tel:08127596979">08127596979</a></b></p>
</div>
<% include btn %>
</div>
<!--end::Signin-->
</div>
<!--end::Body-->
<% include footer2 %>
</div>
</div>
</div>
</div>
<!-- end:: Page