<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h1>Contact Us</h1>
</div>
<div class="aboutn kt-margin-t-30" style="text-align:left;">
<p align="left">Our office is at No 2, Idiroko Estate, close to the Maryland Mall, Lagos State, Nigeria.</p>
<p align="left">
You are welcome to come visit us anyday during working hours. If you can't physically come, you can also reach out to us below</p>

<div class="kt-margin-t-10 kt-margin-b-10" align="center">
<a href="tel:08127574549" class="btn btn-secondary btn-taller btn-pill btn-wider">
<i class="la la-phone"></i>Call Us
</a>
<a href="/register" class="btn btn-primary btn-taller btn-pill btn-wider">
<i class="la la-whatsapp"></i> Chat
</a>
</div>

</div>
<% include footer2 %>
</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>