<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Send Documents</h3>
<p>Forward the documents listed below to us on WhatsApp:</p>
</div>
<div class="aboutn">
<ol>
<li>Bank Statement for the last six months <!-- (please note that this must contain references to your transactions with Uber and/or Bolt during this period) -->
</li>
<li>Uber and/or Bolt profile ratings screenshots</li>
<li>Uber and/or Bolt trips history screenshots</li>
<li>Your official profile picture</li>
<li>Valid drivers license</li>
</ol>
</div>

<div class="kt-login__btn kt-margin-t-10">
<a href="https://wa.me/2348127574549" class="btn btn-primary btn-tall btn-widest btn-pill">
<i class="la la-upload"></i><span class="login-text">Send Now</span>
</a>
</div>

<p class="border-dash"></p>
<div class="text-center">
<span class="text-muted">
Nairalife uses the highest levels of security to protect your details. 
<br>For more information, please go to our <a href="/privacy" class="kt-link">Privacy Policy</a> 
</span>
</div>

</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>
<script type="text/javascript" src="js/custom/script.js"></script>