
<div class="tab-pane" id="kt_tabs_7_4" role="tabpanel">

<div class="aboutn">

<h4 class="kt-margin-t-10">What is Nairalife higher purchase agreement?</h4>
<p>
The current HP agreements available to drivers are too expensive and inconvenient and this is why we have created our plans for members by providing tokunbo cars to them at a cheap rate of around 2,000,000 - 2,500,000 naira only. 
</p>
<p class="border-dash"></p>



<h4 class="kt-margin-t-0">How do I qualify for higher purchase agreement with Nairalife?</h4>
<p>
To qualify for Nairalife higher purchase, you simply have to pay 1,000 daily for 90 days. This will be used to get a comprehensive insurance and Lagos state license plate registration for your car.
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">Which car model can I get from Nairalife?</h4>
<p>
We currently only have plans of providing tokunbo <b>Toyota Corolla (2003-2006) CE</b> to our qualified members but as time goes on and with more feedback from our members, we can start offering other car models.
</p>
<p class="border-dash"></p>


<h4 class="kt-margin-t-0">Do I get discount on the agreement if I complete payment earlier?</h4>
<p>
Yes we give discount of up to 10% of the total higher purchase amount to drivers who complete their higher purchase payment earlier than the period specified in the agreement. What this means that if you complete your payment earlier than the 12-20 months (depending on your agreement with us), you can get a discount of up to 200,000 naira. 
</p>
<p class="border-dash"></p>
<p class="kt-margin-b-20">
If you have any further inquiry, please call us on <b><a href="tel:08127596979">08127596979</a></b>
</p>

</div>
<!-- end of aboutn-->


</div>
<!-- end of tabpanel-->