<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="otp-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Nairalife Membership Fee</h3>
<h4>Pay &#8358;1,000 Yearly</h4>
</div>
<div class="aboutn">
<p>To complete your registration on Nairalife, you have to pay our yearly membership fee.</p>
<p>This fee will be used to process all charges on your withdrawals and settle sms alerts.</p>
<div class="kt-login__btn kt-margin-t-20 kt-margin-b-20">
<button id="kt_login_signin_submit" onclick="payWithPaystack()" class="btn btn-primary btn-taller btn-pill btn-widest">
<i class="la la-slack"></i><span>Pay Online Now</span>
</button>
</div>
<p class="border-dash"></p>
<div class="text-center">
<span class="text-muted">
Nairalife uses the highest levels of security to protect your information and our payment partner Paystack is highly reputable with partners including Bolt and MTN Nigeria making use of their services
</span>
<p><img src="/images/paystack.png" style="width:100%;margin:20px auto;"></p>
<span class="text-muted">
<b>Please note:</b> the card you use to pay our membership fee will also be used automatically for your autosave and groupsave on Nairalife and to change it, you'll have to contact us.
</span>
</div>
</div>
<!--end::Signin-->
</div>
<!--end::Body-->
</div>
<!--end::Content-->
</div>
</div>
</div>
<!-- end:: Page -->

<script type="text/javascript" src="js/custom/script.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
function payWithPaystack(event){
var handler = PaystackPop.setup({
key: 'pk_live_e689b8a7714dde9dd8a07c15c4a348568cb3dd4d',
email: '<%= user.email %>',
amount: 100000,
currency: "NGN",
channels: ["card"],
metadata: {
custom_fields: [
{
display_name: "Mobile Number",
variable_name: "mobile_number",
value: "+2348012345678"
}
]
},
callback: sendReference,
onClose: function(){}
});
handler.openIframe();
}
</script>
<script type="text/javascript">
function sendReference(response){
let reference = response.reference
api("card/verify", { reference: reference, token: getToken() })
.then(handleResponse)

function handleResponse(response){
// console.log(response)
if(response.status == 200)
redirect("/account")
}
}
</script>