<div class="kt-footer text">
<div class="kt-footer__menu">
<a href="/aboutus" class="kt-footer__menu-link">About Us</a>
<a href="/terms" class="kt-footer__menu-link">Terms of Service</a> 
<a href="/privacy" class="kt-footer__menu-link">Privacy Policy</a> 
<a href="/contact" class="kt-footer__menu-link">Contact Us</a>	
</div>
</div>