<p class="kt-margin-t-20"></p>

<br>

<p class="text-muted text-center">
Nairalife HP <!-- for uber and bolt partners --> is managed by Token Technologies Limited, a company duly registered with RC No 1448902. Both Nairalife.com and Token Technologies Limited are legal entities in Nigeria.
</p>

<p class="border-dash"></p>

<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
<div class="kt-footer__logo">
<a href="#">
<img alt="Nairalife" src="images/naira.png" style="width:30px;">
</a>
<div class="kt-footer__copyright">
2020&nbsp;&copy;&nbsp;
<a href="#">Nairalife HP</a>
</div>
</div>

<div class="kt-footer text">
<div class="kt-footer__menu">
<a href="/partner" class="kt-footer__menu-link">Become a Partner</a>	
<a href="/about" class="kt-footer__menu-link">About Us</a>
<a href="/terms" class="kt-footer__menu-link">Terms of Service</a> 
<a href="/privacy" class="kt-footer__menu-link">Privacy Policy</a> 
<a href="/contact" class="kt-footer__menu-link">Contact Us</a>	
</div>
</div>

</div>