<!-- <p class="border-dash kt-margin-b-10"></p> -->
<!-- end:: Content -->
</div>
</div>
</div>


<!-- begin:: Footer -->
<div class="kt-footer" id="kt_footer">
<div class="kt-footer__logo">
<!-- <a href="#">
<img alt="Nairalife" src="/images/naira.png" style="width:30px;">
</a> -->
<div class="kt-footer__copyright" style="margin-top:0px;">
&copy;&nbsp; Nairalife 2020 all rights reserved. Site is managed by Token Technologies Limited RC No 1448092
</div>
</div>
<div class="kt-footer__menu">
<a href="/about" class="kt-footer__menu-link">About Us</a>	
<a href="/contact" class="kt-footer__menu-link">Contact Us</a>
<a href="/privacy" class="kt-footer__menu-link">Privacy Policy</a>
<a href="/terms" class="kt-footer__menu-link">Term of Service</a>
</div>
<!-- end:: Footer -->


</div>
</div>
</div>
<!-- end:: Page -->



<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<!-- <script src="js/custom/script.js" type="text/javascript"></script> -->



</body>
<!-- end::Body -->
</html>