<p class="border-dash"></p>

<div class="kt-footer kt-footer2" id="kt_footer">
<div class="kt-footer__logo">
<!-- <a href="#">
<img alt="Nairalife" src="images/naira.png" style="width:30px;margin-top:5px;">
</a> -->
<div class="kt-footer__copyright">
&copy;&nbsp; Nairalife 2020 all rights reserved. Site is managed by Token Technologies Limited RC No 1448092
</div>
</div>

<div class="kt-footer text">
<div class="kt-footer__menu">
<a href="/about" class="kt-footer__menu-link">About Us</a>		
<a href="/contact" class="kt-footer__menu-link">Contact Us</a>
<a href="/privacy" class="kt-footer__menu-link">Privacy Policy</a>
<a href="/terms" class="kt-footer__menu-link">Term of Service</a>
</div>
</div>
</div>