<p class="kt-margin-t-30"></p>

<br>

<p class="text-muted text-center">
Nairalife HP for uber and bolt partners is owned by Token Technologies Limited, a company duly registered with RC No 1448902. Both Nairalife.com and Token Technologies Limited are legal entities in Nigeria.
</p>


<p class="border-dash"></p>


<!-- end:: Content -->
</div>
</div>
</div>


<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
<div class="kt-footer__logo">
<a href="#">
<img alt="Nairalife" src="images/naira.png" style="width:30px;">
</a>
<div class="kt-footer__copyright">
2019&nbsp;&copy;&nbsp;
<a href="#">Nairalife Higher Purchase</a>
</div>
</div>
<div class="kt-footer__menu">
<a href="/aboutus" class="kt-footer__menu-link">About Us</a>
<a href="/terms" class="kt-footer__menu-link">Terms of Service</a>
<a href="/privacy" class="kt-footer__menu-link">Privacy Policy</a>
<a href="/contact" class="kt-footer__menu-link">Contact Us</a>
</div>
</div>
<!-- end:: Footer -->


</div>
</div>
</div>
<!-- end:: Page -->



<!-- begin::Scrolltop -->
<!-- <a href="https://wa.me/2348127596979">
<div id="kt_scrolltop" class="kt-scrolltop">
<i class="la la-whatsapp"></i> Chat With Us On WhatsApp
</div>
</a> -->
<!-- end::Scrolltop -->



<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- <script src="js/custom/script.js" type="text/javascript"></script> -->



</body>
<!-- end::Body -->
</html>