<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<link href="css/custom.css" rel="stylesheet" type="text/css" />

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">


<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

<!--begin::Head-->
<div class="kt-login__bottom">

</div>

<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body view show" id="phone-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Forgot Your Password?</h3>
<p>Enter your phone number to receive otp below</p>
</div>

<!-- <div class="error" style="display:none;">Invalid Username or Password</div> -->


<div class="alert alert-danger alert-bold fade show kt-margin-b-20 login-error phone-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Phone Number or Password
</div>
</div>

<div class="alert alert-success alert-bold fade show kt-margin-b-20 none login-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Your password has been changed successfully. Login below
</div>
</div>


<!--begin::Form-->
<form class="kt-form phone-form" action="" novalidate="novalidate">
<div class="form-group">
	<input class="form-control" type="number" placeholder="Enter your phone number" name="phone" autocomplete="off" required="true">
</div>


<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary recover-password-button">
<i class="la la-refresh"></i><span class="recover-text">Recover Password</span>
</button>
</div>


</form>

<!--end::Form-->

<!--begin::Divider-->
<div class="kt-login__divider">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<!--begin::Options-->
<div class="kt-login__bottom">
<span class="kt-login__signup-label">Remember password now?</span>&nbsp;&nbsp;
<a href="/login" class="kt-link kt-login__signup-link">Login</a>
</div>

<!--end::Options-->
</div>

<!--end::Signin-->
</div>
<!--end::Body-->
<% include footer2 %>


<!-- start otp section -->

<div class="kt-login__body view" id="otp-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Phone Verification</h3>
<p>Please verify your phone number below</p>
</div>

<!-- <div class="error" style="display:none;">Invalid Username or Password</div> -->
<div class="alert alert-danger alert-bold fade show kt-margin-b-20 otp-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>


<!--begin::Form-->
<form class="kt-form otp-form" action="" novalidate="novalidate">
<div class="form-group">
<input class="form-control" type="number" placeholder="Enter OTP" name="code" autocomplete="off" 
required="true">
</div>


<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary verifyOtpButton">
<span><span class="verify-text">Verify</span> <i class="kt-margin-l-5 la la-arrow-right"></i></span>
</button>
</div>


</form>

<!--end::Form-->

<!--begin::Divider-->
<div class="kt-login__divider">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<!--begin::Options-->
<div class="kt-login__bottom otp-resend-container">
<span class="kt-login__signup-label">Didn't get OTP?</span>&nbsp;&nbsp;
<a href="#" class="kt-link kt-login__signup-link resend-otp">Resend</a>
</div>
<div class="kt-login__bottom otp-countdown-container none">
<span class="kt-login__signup-label">You can resend otp in</span>&nbsp;&nbsp;
<a href="#" class="kt-link kt-login__signup-link otp-countdown">02 : 30</a>
</div>


<!--end::Options-->
</div>

<!--end::Signin-->
</div>
<!-- end body -->






<!--begin::Body-->
<div class="kt-login__body view" id="password-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>New Password</h3>
<p>Enter your new password details below</p>
</div>

<!-- <div class="error" style="display:none;">Invalid Username or Password</div> -->


<div class="alert alert-danger alert-bold fade show kt-margin-b-20 password-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Phone Number or Password
</div>
</div>

<div class="alert alert-success alert-bold fade show kt-margin-b-20 none password-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Your password has been changed successfully. Login below
</div>
</div>


<!--begin::Form-->
<form class="kt-form password-form" action="" novalidate="novalidate">
<div class="form-group">
	<input class="form-control" type="password" placeholder="New Password" name="password" autocomplete="off" required="true">
</div>
<div class="form-group">
	<input class="form-control" type="password" placeholder="Confirm New Password" name="password2" required="true">
</div>



<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary change-password-button">
<i class="la la-unlock"></i><span class="password-text">Change Password</span>
</button>
</div>

<!--begin::Action-->
<!--end::Action-->



</form>

<!--end::Form-->

<!--begin::Divider-->
<div class="kt-login__divider">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<!--begin::Options-->
<div class="kt-login__bottom">
<span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
<a href="/register" class="kt-link kt-login__signup-link">Register</a>
</div>

<!--end::Options-->
</div>

<!--end::Signin-->
</div>

<!--end::Body-->



































</div>
<!--end::Content-->

</div>
</div>
</div>
<!-- end:: Page -->
</body>
</html>

<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/forgot.js"></script>