<% include body %>

<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile kt-header-mobile--fixed ">
<div class="kt-header-mobile__logo">
<a href="/">	
<img src="images/icon.png" class="lgo1" alt="Nairalife"/>
<img src="images/text.png" class="lgo2" alt="Nairalife"/>
</a>
</div>
<div class="kt-header-mobile__toolbar">
<button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler">
<div class="kt-margin-r-10">Menu</div> <i class="la la-navicon"></i>
</button>
</div>
</div>
<!-- end:: Header Mobile -->


<div class="kt-grid kt-grid--hor kt-grid--root">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

<!-- begin:: Header -->
<div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
<div class="kt-container">

<!-- begin:: Brand -->
<div class="kt-header__brand kt-grid__item" id="kt_header_brand">
<a class="kt-header__brand-logo" href="/">
<img src="images/icon.png" class="kt-header__brand-logo-default" alt="Nairalife"/>
<img src="images/text.png" class="kt-header__brand-logo-defaults" alt="Nairalife"/>
</a>
</div>
<!-- end:: Brand -->


<!-- begin:: Header Topbar -->
<div class="kt-header__topbar kt-grid__item">

<!--begin: User bar -->
<div class="kt-header__topbar-item kt-header__topbar-item--user">
<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
<!-- <span class="kt-header__topbar-welcome">Hi,</span> -->
<span class="kt-header__topbar-username">Menu</span>
<span class="kt-header__topbar-text" style="padding-left:0"><i class="la la-navicon"></i></span>
</div>

<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-xl user-dropdown" id="user-menu-id">

<!--begin: Navigation -->
<div class="kt-notification">
<div class="kt-notification-menu">


<a href="/invest" class="kt-notification__item kt-margin-t-5">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title kt-font-bold">
Withdraw Money
</div>
<div class="kt-notification__item-time">
Withdraw contributions and savings
</div>
</div>
</a>


<a href="/withdraw" class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title kt-font-bold">
My Contributions (30)
</div>
<div class="kt-notification__item-time">
History of all the contributions you have made
</div>
</div>
</a>


<a href="/notifications" class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title kt-font-bold">
My Notification (0)
</div>
<div class="kt-notification__item-time">
New messages and alerts
</div>
</div>
</a>


<a href="/settings" class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title kt-font-bold">
My Account Settings
</div>
<div class="kt-notification__item-time">
Profile settings and more
</div>
</div>
</a>

<a href="/history" class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title kt-font-bold">
My Nairapoints
</div>
<div class="kt-notification__item-time">
Your nairascore and points
</div>
</div>
</a>

<a href="#" class="kt-notification__item kt-margin-b-10">
<div class="kt-notification__item-details logout">
<div class="kt-notification__item-title kt-font-bold">
Logout Account
</div>
<div class="kt-notification__item-time">
Sign out of account
</div>
</div>
</a>
</div>
</div>
<!--end: Navigation -->
</div>
</div>

<!--end: User bar -->
</div>

<!-- end:: Header Topbar -->
</div>
</div>

<!-- end:: Header -->









<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
<div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">