<% include meta %>
<% include header %>
<% include link %>

<div class="nanswer">

<div class="nanswerbox">
<h3><span class="badge">1</span> Loan limit</h3>
<p>Maximum amount of money you can borrow</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">2</span> Available balance</h3>
<p>We are not going to allow the money we make to appear as if the reality is not actually mutual in the right sense</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">3</span> Interest rate</h3>
<p>
This is unique to each member and it reduces the longer the time you spend on Nairalife. Currently, your interest rate is 2% meanining
if you borrow 20,000 naira for a week, a 400 naira interest will be charged.
</p>
</div>


<div class="nanswerbox">
<div><h3><span class="badge">4</span> Multiple loans</h3>
</div>
<p>
You can take as many loans as possible as long as it has not exceeded your loan limit	
</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">5</span> Loan repayment</h3>
<p>You repay loans small small either daily or weekly and you can choose when you want to start repayment</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">6</span> Loan duration</h3>
<p>Loans can be paid back in full in a week, few weeks and up to 4 months conveniently</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">7</span> What kind of loans can I get?</h3>
<p>
You can take Nairalife loans as a ride-hailing partner for emergency expenses (mechanical repairs, paying hire purchase or rental fees), short-term expenses like down payment on you new car and long-term ones like money to acquire a new car.
</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">8</span> How much loan can I get?</h3>
<p>Depending on your current loan limit, you can borrow as low as &#8358;1,000 and as up to &#8358;1,500,000</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">9</span> What is my next loan limit?</h3>
<p>Your next loan limit is the limit of loan you will qualify for once you complete your current loan repayment.</p>
</div>



<div class="nanswerbox">
<h3><span class="badge">10</span> What if I default on my payment?</h3>
<p>
If you default, we will try to charge you again subsequently and if we are unable to, we might report you to the credit beareau and also this might reduce your loan limit.
</p>
</div>


<div class="nanswerbox">
<h3><span class="badge">11</span> Are there any hidden fees and interests?</h3>
<p>
We do NOT charge any additional fees - for late repayments or processing costs. What you get while getting the loan is what you get.
</p>
</div>

<div class="nanswerbox">
<h3><span class="badge">12</span> Can I repay with bank transfer?</h3>
<p>
Yes, you can repay your loan by sending money directly to our bank account.
</p>
</div>

<!-- <p class="kt-margin-t-30">If you have any further enquiry, call us on <a href="tel:08127574549">08127574549</a></p> -->

</div>
<!--nanswer-->



<% include footer3 %>
<script type="text/javascript" src="js/custom/script.js"></script>