
<div class="tab-pane" id="kt_tabs_7_2" role="tabpanel">

<div class="aboutn">

<h4 class="kt-margin-t-10">What is Nairalife savings group higher purchase agreement?</h4>
<p>
Nairalife savings group is for <b>Uber and Bolt</b> drivers only. The current higher purchase agreements available to drivers are too expensive and this is why we want to empower our drivers by providing Tokunbo cars to them at a cheap rate of 2,000,000 naira only. 
They do not have to pay any upfront capital and they only have to pay between 25,000 - 30,000 weekly for 16-20 months.
</p>
<p class="border-dash"></p>



<h4 class="kt-margin-t-0">How do I qualify for higher purchase agreement with Nairalife savings group?</h4>
<p>
To qualify for Nairalife higher purchase agreement, you simply have to save and contribute in a group consistently until your Nairalife score reaches 70 and above.  
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">Which car model can I get from Nairalife savings group?</h4>
<p>
We currently only have plans of providing tokunbo toyota corolla (2003-2006) CE to our qualified members but as time goes on and with more feedback from our members, we can start offering other car models.
</p>
<p class="border-dash"></p>


<h4 class="kt-margin-t-0">How much do I pay upfront to Nairalife savings group?</h4>
<p>
No you do not have to pay any money upfront for the car you will be given by Nairalife. Members will be encouraged to pay upfront as that will give them discounts of up to 10% on the car.
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">Do I get discount on the agreement if I complete payment earlier?</h4>
<p>
Yes we give discount of up to 10% of the total higher purchase amount to drivers who can complete their higher purchase payment earlier than the agreement.
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">What is my Nairalife score?</h4>
<p>
Yes we give discount of up to 10% of the total higher purchase amount to drivers who can complete their higher purchase payment earlier than the agreement.
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">What is my Nairalife default rate?</h4>
<p>
Yes we give discount of up to 10% of the total higher purchase amount to drivers who can complete their higher purchase payment earlier than the agreement.
</p>

</div>
<!-- end of aboutn-->


</div>
<!-- end of tabpanel-->