
<div class="tab-pane" id="kt_tabs_7_2" role="tabpanel">

<div class="aboutn">

<h4 class="kt-margin-t-10">What is Nairalife savings group higher purchase agreement?</h4>
<p>
Nairalife savings group is for Uber and Bolt drivers only. The current higher purchase agreements available to drivers are too expensive and this is why we want to empower our members by providing Tokunbo cars to them at a cheap rate of around 2,000,000 naira only. 
Qualified members don't have to pay any upfront capital and they only have to pay between 25,000 - 30,000 weekly for 16-20 months.
</p>
<p class="border-dash"></p>



<h4 class="kt-margin-t-0">How do I qualify for higher purchase agreement with Nairalife savings group?</h4>
<p>
To qualify for Nairalife higher purchase agreement, you simply have to save or contribute in a group consistently until your Nairalife score reaches 70 and above. We project that if you are consistent, you should qualify between 3-6 months depending on how much you are saving or contributing.
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">Which car model can I get from Nairalife savings group?</h4>
<p>
We currently only have plans of providing tokunbo <b>Toyota Corolla (2003-2006) CE</b> to our qualified members but as time goes on and with more feedback from our members, we can start offering other car models.
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">How much do I pay upfront to Nairalife savings group?</h4>
<p>
No you do not have to pay any money upfront for the car you will be given by Nairalife. Members will be encouraged to pay upfront as that will give them discounts of up to 10% on the car.
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">Do I get discount on the agreement if I complete payment earlier?</h4>
<p>
Yes we give discount of up to 10% of the total higher purchase amount to drivers who complete their higher purchase payment earlier than the the 16-20 months specified in the agreement. What this means that if you complete your payment earlier than the 16-20 months (depending on your agreement with us), you can get a discount of up to 200,000 naira. 
</p>
<p class="border-dash"></p>

<h4 class="kt-margin-t-0">What is my Nairalife score?</h4>
<p>
Nairalife activities like your savings and contributions are tracked used to calculate a rating for you. The more amount you save and contribute, and the more consistent you are doing this, the higher your score. We expect you to get to 70 or above within 3-6 months depending on your consistency.
</p>

<p class="border-dash"></p>
<p class="kt-margin-b-20">
If you have any further inquiry, please call or message us on whatsapp on <b><a href="tel:08127596979">08127596979</a></b>
</p>

</div>
<!-- end of aboutn-->


</div>
<!-- end of tabpanel-->