<% include meta %>
<% include header %>
<% include link %>


<!--begin::Portlet-->
<div class="kt-portlet btopzero">
<div class="kt-portlet__body">
<ul class="nav nav-tabs  nav-tabs-line nav-tabs-bolder nav-tabs-line-primary" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-registered kt-margin-r-5"></i> Request For A Car
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-question-circle kt-margin-r-5"></i>Questions?
</a>
</li>
</ul>
<div class="tab-content">
<% include request %>
<% include hifaq %>
</div>
<!--end::tab-content-->
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->

<% include footer %>