<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />

<style type="text/css">
li{
line-height:2.5rem;
font-size:1.4rem;
color:#000;
margin:0 0 0.5rem;
text-align:center;
}
p{
font-size:1.4rem;
line-height:1.5em;
font-weight:300;
margin:1.5em 0 1.5em 1.3em;	
}
</style>
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">


<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

<!--begin::Body-->
<div class="kt-login__body" id="login-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Nigeria's Savings Group</h3>
<h4 style="font-size:1.5rem;font-weight:500;">
For Uber and Bolt Drivers
</h4>
</div>



<div class="text-center">
<p>
We are currently accepting members who make and receive contributions and get cars on higher purchase.
</p>
</div>


<div class="kt-login__actions kt-margin-t-30 kt-margin-b-20">
Are you an Uber or Bolt partner? Join Nairalife today
</div>

<div class="text-center">
<a href="/register" class="btn btn-primary btn-taller btn-pill btn-widest">
<i class="flaticon-users-1 kt-margin-r-5"></i> <span>Become A Member</span>
</a>
</div>


<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<!--begin::Options-->
<div class="kt-login__bottom">
<span class="kt-login__signup-label">Are you already a registered member?</span>
<br>
<div class="text-center kt-margin-t-20">
<a href="/login" class="btn btn-warning btn-taller btn-pill btn-widest">
<i class="la la-unlock kt-margin-r-5"></i> <span>Login Account</span>
</a>	
</div>
</div>
<!--end::Options-->

</div>
<!--end::Signin-->

</div>
<!--end::Body-->




</div>





<div class="text-center">
<span>Powered By</span>
<h4 class="kt-font-brand">
Token Technologies Limited - RC No 1448092
</h4>
<h5 class="text-muted">We have been creating wealth<br> since November, 2017</h5>
</div>



<!--end::Content-->
</div>
</div>
</div>

<!-- end:: Page