<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Nairalife Savings Group</h3>
<h4>For Uber and Bolt Partners Only</h4>
</div>
<div class="aboutn">
<p>We are currently accepting drivers who want to save, receive contributions and get cars on higher purchase.</p>
</div>
<% include btn %>
<% include footer2 %>
</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>