<div class="kt-subheader">
<h3>
<% if(title==="Home"){ %>
Hi, Akin Wumi
<a href="/loan" class="btn btn-secondary btn-secondary2 kt-margin-l-10">
Get Loan <i class="la la-arrow-right kt-margin-l-5" style="padding-right:0"></i>
</a>
<% }
else{
 %>	
<%= title %>
<% } %>
</h3>
<div class="kt-subheader__main">	
<h3 class="kt-subheader__title"><a href="/home"><i class="la la-home"></i> Home</a></h3>
<% if(link){ %>
<span class="kt-subheader__separator kt-subheader__separator--v"></span>
<span class="kt-subheader__desc"><%= link %></span>
<% } %>
</div>
</div>