<div class="kt-portlet kt-margin-t-30">
<div class="kt-portlet__body kt-padding-10">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success" colspan="2">Instalment Loan Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td class="kt-font-bold">Loan Amount:</td>
<td class="text-right">&#8358;30,000</td>
</tr>
<tr>
<td class="kt-font-bold">Weekly Instalment:</td>
<td class="text-right">&#8358;2,250</td>
</tr>
<tr>
<td class="kt-font-bold">Loan Period:</td>
<td class="text-right">3 Months</td>
</tr>
<tr>
<td class="kt-font-bold">Interest Rate:</td>
<td class="text-right">35%</td>
</tr>
<tr>
<td class="kt-font-bold">Total Payment:</td>
<td class="text-right">&#8358;6,000</td>
</tr>
<tr>
<td class="kt-font-bold">Remaining Payment:</td>
<td class="text-right">&#8358;24,000</td>
</tr>
<tr><td class="kt-font-bold" colspan="2">You currently do not have any active instalment loan on Nairalife</td></tr>
</tbody>
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->