<?php 
include 'meta.php';
include 'header.php';
$title='My Nairapoints';
$link='Nairapoints';
include 'link.php';
?>

<% include meta %>
<% include header %>
<% include link %>


<!--begin::Portlet-->
<div class="kt-portlet btopzero">

<div class="kt-portlet__body">



<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-30">


<thead>
<tr>
<th>No</th>
<th>Points</th>
<th>Date</th>
<th>Type</th>
</tr>
</thead>


<tbody>
<tr>
<td>1</td>
<td>30</td>
<td>30-01-2019</td>
<td class="text-capitalize kt-font-info">Bonus</td>
</tr>

<tr>
<td>2</td>
<td>50</td>
<td>29-01-2019</td>
<td class="text-capitalize kt-font-success">Contributions</td>
</tr>


<tr>
<td>3</td>
<td>10</td>
<td>28-01-2019</td>
<td class="text-capitalize kt-font-default">Registration</td>
</tr>

<tr>
<td>4</td>
<td>60</td>
<td>28-01-2019</td>
<td class="text-capitalize kt-font-success">Guarantor</td>
</tr>


<tr>
<td>5</td>
<td>60</td>
<td>28-01-2019</td>
<td class="text-capitalize kt-font-success">Guarantor</td>
</tr>


</tbody>
</table>
</div>


</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->



<?php include 'footer.php';?>