<% include meta %>
<% include header %>
<% include link %>

<div class="kt-portlet btopzero">


<div class="kt-portlet__body kt-padding-t-0">

<div class="kt-notification kt-margin-b-10  kt-margin-t-10">

<% userNotifications.forEach(notification => { %>
<div class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title">
<%= notification.notification %>
</div>
<div class="kt-notification__item-time">
<%= notification.created_at[0] %>. <%= notification.created_at[1] %>
</div>
</div>
</div>
<% }) %>

<!-- <div class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title">
1,000 naira was successfully deducted from your card for today's contribution.
</div>
<div class="kt-notification__item-time">
2 hours ago
</div>
</div>
</div>

<div class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title">
1,000 naira was successfully deducted from your card for today's contribution.
</div>
<div class="kt-notification__item-time">
1 day ago
</div>
</div>
</div>


<div class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title">
1,000 naira was successfully deducted from your card for today's contribution.
</div>
<div class="kt-notification__item-time">
2 days ago
</div>
</div>
</div>

<div class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title">
You have been added to a new savings group.
</div>
<div class="kt-notification__item-time">
3 days ago
</div>
</div>
</div>



<div class="kt-notification__item">
<div class="kt-notification__item-details">
<div class="kt-notification__item-title">
You have just received 50 nairapoints bonus.
</div>
<div class="kt-notification__item-time">
4 days ago
</div>
</div>
</div>

 -->
</div>
<!--end::kt-notification-->



</div>
<!--end::Portlet-body-->



</div>
<!--end::Portlet-->

<?php include 'footer.php';?>