<div class="tab-pane" id="kt_tabs_7_6" role="tabpanel">


<div class="kt-portlet__body kt-padding-l-0 kt-padding-r-0 kt-padding-t-0">





<div class="kt-widget4">



<div class="kt-widget4__item">
<div class="kt-widget__pic">AW</div>
<div class="kt-widget4__info">
<a href="#" class="kt-widget4__title">
Akin Wumi
</a>
</div>
<span class="kt-widget4__number">
<span data-format="real">1st</span>
</span>
</div>



<div class="kt-widget4__item">
<div class="kt-widget__pic">WM</div>
<div class="kt-widget4__info">
<a href="#" class="kt-widget4__title">
Wisdom Madab
</a>
</div>
<span class="kt-widget4__number">
<span data-format="real">2nd</span>
</span>
</div>




<div class="kt-widget4__item">
<div class="kt-widget__pic">JK</div>
<div class="kt-widget4__info">
<a href="#" class="kt-widget4__title">
Jegede Kemisola
</a>
</div>
<span class="kt-widget4__number">
<span data-format="real">3rd</span>
</span>
</div>




<div class="kt-widget4__item">
<div class="kt-widget__pic">AW</div>
<div class="kt-widget4__info">
<a href="#" class="kt-widget4__title">
Akin Wumi
</a>
</div>
<span class="kt-widget4__number">
<span data-format="real">4th</span>
</span>
</div>



<div class="kt-widget4__item">
<div class="kt-widget__pic">WM</div>
<div class="kt-widget4__info">
<a href="#" class="kt-widget4__title">
Wisdom Madab
</a>
</div>
<span class="kt-widget4__number">
<span data-format="real">5th</span>
</span>
</div>




<div class="kt-widget4__item">
<div class="kt-widget__pic">JK</div>
<div class="kt-widget4__info">
<a href="#" class="kt-widget4__title">
Jegede Kemisola
</a>
</div>
<span class="kt-widget4__number">
<span data-format="real">6th</span>
</span>
</div>





</div>


<!-- <p class="border-dash"></p>
<p class="text-center kt-margin-t-20">
<a class="btn btn-secondary btn-taller btn-wide kt-margin-r-10 kt-margin-b-10"><i class="la la-arrow-down"></i> View More</a>
</p> -->


</div>








</div>
<!--end of tabpanel-->