<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Partner With Us</h3>
<p>By providing vehicles for our members</p>
</div>
<div class="aboutn kt-margin-t-30">

<p>
You can help our drivers thrive by providing cars or capital to get cars for them and you get great returns on your investment in the process
</p>

<p class="border-dash"></p>
<h4>Provide Cars</h4>
<p>We accept foreign used (Tokunbo) Corolla, Camry or Matrix between the year 2003 - 2006</p>

<p>We insure and register it on your behalf</p>

<p>We give it to one of our highly vetted drivers on hire purchase</p>


<p>You get a guaranteed monthly payment for 6-24 months depending on your preference</p>

<p class="border-dash"></p>
<h4>Provide Capital</h4>
<p>We accept a minimum of 500,000 naira from you and we source for vehicles on your behalf</p>

<p>We insure and register it and we give it to vetted drivers on hire purchase</p>

<p>You get a guaranteed monthly payment for 6-24 months depending on your preference</p>


<p>For more information, you can call us anytime on <b><a href="tel:08127596979">08127596979</a></b></p>

<!--begin::Divider-->
<div class="kt-login__divider">
<div class="kt-divider">
<span></span>
<span>Or</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<div>
<a href="https://wa.me/2348127596979" class="btn btn-success btn-taller btn-pill btn-widest">
<i class="la la-whatsapp kt-margin-r-5"></i>Chat With Us On WhatsApp
</a>
</div>

<p class="kt-margin-30">You can also visit us at No 2, Obanikoro Street, Maryland, Lagos State.</p>


</div>

<% include footer2 %>


</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>