<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Partner With Us</h3>
<p>By providing cars for our members</p>
</div>
<div class="aboutn kt-margin-t-30">

<p>
You can provide cars for our network of vetted ride-hailing drivers and get guaranteed monthly installment payments	
</p>

<p class="border-dash"></p>
<h4>Provide Cars</h4>
<p>We buy foreign used (Tokunbo) Corolla, Camry or Matrix between the year 2003 - 2006 from you on installment</p>
<p>We insure and register it and give it to one of our vetted drivers on hire purchase</p>
<p>You get an initial deposit plus a guaranteed monthly installment payment for 12 months</p>


<p class="border-dash"></p>
<h4>Provide Capital</h4>
<p>We accept money from you and we purchase foreign used (Tokunbo) cars</p>
<p>We insure and register it and give it to one of our vetted drivers on hire purchase</p>
<p>You get a guaranteed monthly installment payment for 12 months</p>


<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-20">
<div class="kt-divider">
<span></span>
<span class="kt-font-success">CALL US</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<p>
For more information on how to get started as a Nairalife partner, call us anytime on 
<b><a href="tel:08127574549">08127574549</a></b>
</p>

<div class="kt-login__btn kt-margin-t-10">
<a href="tel:08127574549" class="btn btn-warning btn-taller btn-widest btn-pill kt-margin-b-10">
<i class="la la-phone"></i> Call Us Now</a>
</div>

<!--begin::Divider-->
<div class="kt-login__divider">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<div class="kt-login__bottom">
<div class="kt-login__signup-label kt-margin-b-10">
Message us directly and we reply immediately!
</div>	
<a href="https://wa.me/2348127574549" class="btn btn-success btn-taller btn-pill btn-widest">
<i class="la la-whatsapp kt-margin-r-5"></i>Chat With Us On WhatsApp
</a>
</div>

<p class="kt-margin-30">You can also visit us at No 2, Obanikoro Street, Maryland, Lagos State.</p>


</div>

<% include footer2 %>


</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>