<% include meta %>
<% include header %>
<% include link %>

<div class="kt-portlet btopzero">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title">
Manually Make Higher Purchase Payment
</h3>
</div>
</div>

<div class="aboutn kt-padding-20">
<p>
Sorry, manual payment option is currently not available for your account on Nairalife. For more information, please call or message us on whatsApp on <b><a href="tel:08127596979">08127596979</a></b>
</p>
</div>

</div>
<!--end::Portlet-head-->
</div>
<!--end::Portlet-->
<script type="text/javascript" src="js/custom/script.js"></script>
<% include footer3 %>