<% include meta %>
<% include header %>
<% include link %>


<!--begin::Portlet-->
<div class="kt-portlet btopzero kt-padding-10">

<div class="kt-portlet__head">
<div class="kt-portlet__head-label"><span class="kt-portlet__head-title">Can't pay with card? Transfer cash</span></div>
</div>	


<div class="kt-portlet__body">


<div class="alert alert-danger alert-bold fade show kt-margin-b-10 login-error pay-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Phone Number or Password
</div>
</div>


<form class="kt-form kt-margin-t-10" action="" novalidate="novalidate">
<div class="form-group manual-form">
<input type="number" class="form-control form-control-lg manual-pay-input" name="amount" placeholder="Enter Amount">
</div>
<div class="kt-login__btn">
<button class="btn btn-primary btn-tall btn-pill btn-wider kt-login__btn-primary manual-pay-button">
<i class="la la-plus"></i><span class="add-text">Send Money</span>
</button>
</div>
</form>


</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->
<% include footer %>

<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/manual.js"></script>