<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Choose Plan</h3>
<p>Please choose your higher purchase plan for our car</p>
</div>
<div class="alert alert-danger alert-bold fade show kt-margin-t-30 otp-error plan-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<!--begin::Form-->
<form class="kt-form plan-form" action="" novalidate="novalidate">

<div class="form-group">
<select class="custom-select bank-name" name="total_amount">
<option value="">Choose payment plan</option>
<option value="2000000">2 million naira for 12 months</option>
<option value="2500000">2.5 million naira for 20 months</option>
</select>
</div>

<div class="form-group">
<select class="custom-select bank-name" name="period">
<option value="">Do you want to pay daily or weekly?</option>
<option value="daily">Daily</option>
<option value="weekly">Weekly</option>
</select>
</div>

<div class="alert kt-margin-t-20 kt-padding-20 kt-margin-b-5 plan-alert" role="alert" style="border:1px solid #e1e1e1;">
<div class="alert-text">
<!-- You will have to pay <span data-format="comma">3500</span> naira every day for <span class="e-period">12 months</span> for a total of 
<span data-format="comma">2000000</span> naira. -->
Choose a plan above
</div>
</div>
<span class="text-muted">
<b><span class="kt-font-danger">*</span>Please note:</b> that you will have to pay at least 90,000 naira for 90 days before you can get our car on higher purchase and you can cancel your payment plan anytime.
</span>



<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary choose-plan-button">
<i class="la la-briefcase"></i><span class="preference-text">Choose Plan</span>
</button>
</div>
</form>
<!--end::Form-->

<p class="border-dash"></p>
<div class="text-center">
<span class="text-muted">
For more information, call or message us on whatsApp on <a href="tel:08127596979" class="kt-link">08127596979</a> 
</span>
</div>

</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>
<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/plan.js"></script>