<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Profile Information</h3>
<p>Please tell us more about you</p>
</div>
<div class="alert alert-danger alert-bold fade show kt-margin-t-30 otp-error preference-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<!--begin::Form-->
<form class="kt-form preference-form" action="" novalidate="novalidate">


<div class="form-group">
<input class="form-control" type="number" placeholder="How old are you?" name="age">
</div>


<div class="form-group">
<select class="custom-select bank-name" name="sex">
<option value="">What is your sex?</option>
<option value="male">Male</option>
<option value="female">Female</option>
</select>
</div>


<div class="form-group">
<select class="custom-select bank-name" name="relationship">
<option value="">What is your relationship status?</option>
<option value="Single">Single</option>
<option value="Engaged">Engaged</option>
<option value="Married">Married</option>
<option value="Divorced">Divorced</option>
</select>
</div>


<div class="form-group">
<select class="custom-select bank-name" name="education">
<option value="">What is your education?</option>
<option value="Secondary">Secondary</option>
<option value="Graduate">Graduate</option>
<option value="Masters">Masters</option>
<option value="Doctorate">Doctorate</option>
<option value="None">None</option>
</select>
</div>



<div class="form-group">
<textarea class="form-control" name="bio" style="height:95px" placeholder="Can you describe yourself?">
</textarea>
</div>




<div class="kt-login__btn">
<button id="kt_login_signin_submit" class="btn btn-primary btn-tall btn-pill kt-login__btn-primary preference-submit" data-user_id="<%= user.user_id %>">
<i class="la la-user-plus"></i><span class="preference-text">Add Profile</span>
</button>
</div>
</form>
<!--end::Form-->

</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>
<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/formfunction.js"></script>
<script type="text/javascript" src="js/custom/about.js"></script>