<div class="tab-pane active" id="kt_tabs_7_1" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<tbody>
<tr style="border-top:0">
<td class="kt-font-bold" style="border-top:0">Full Name:</td>
<td class="text-right text-capitalize" style="border-top:0">
<%= user.fullname %>
</td>
</tr>
<tr>
<td class="kt-font-bold">Phone Number:</td>
<td class="text-right">0<%= user.phone %></td>
</tr>
<tr>
<td class="kt-font-bold">Joined On:</td>
<td class="text-right">30-12-2019</td>
</tr>
<tr>
<td class="kt-font-bold">Nairalife Score:</td>
<td class="text-right">
1<%= user.nairascore %> / 100
</td>
</tr>
<!-- <tr>
<td class="kt-font-bold">Nairalife Points:</td>
<td class="text-right">
<%= user.nairapoints %>
</td>
</tr>
<tr>
<td class="kt-font-bold">Default Rate:</td>
<td class="text-right">0%</td>
</tr> -->
</tbody>
</table>
</div>

<div class="aboutn">
<p class="border-dash" style="padding:5px 0 0;"></p>
<p class="kt-margin-10">
<b>Please note:</b> only members who have reached a Nairalife score of at least 70 / 100 or more can make a request for a higher purchase car. For more information, please call or message us on whatsapp on <b><a href="tel:08127596979">08127596979</a></b>
</p>
<form class="kt-padding-10">

<div class="alert alert-danger alert-bold fade show kt-margin-b-20 register-error request-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>

<div class="form-group kt-margin-t-0 request-form">
<textarea class="form-control" rows="3" placeholder="Briefly explain to us why you need a higher purchase car" name="hp" required="required">
</textarea>
</div>
<div class="kt-margin-t-10">
<button type="submit" class="btn btn-tallest btn-wide btn-warning request-button">
<i class="la la-automobile" style="font-size:1.8rem;"></i><span class="request-button-text">Request For A Car</span>
</button>
</div>
</form>

</div>

</div>
<!-- end of tabpanel-->