<% include meta %>
<% include header %>
<% include link %>

<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">


<div class="naira__header">
<h3 class="naira__title">
Instalment Loan Summary
</h3>
<span class="naira__desc">
Details of loan and current status
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Loan Amount:</td>
<td class="text-right">&#8358;30,000</td>
</tr>
<tr>
<td>Weekly Payment:</td>
<td class="text-right">&#8358;2,250</td>
</tr>
<tr>
<td>Loan Period:</td>
<td class="text-right">3 Months</td>
</tr>
<tr>
<td>Interest Rate:</td>
<td class="text-right">35%</td>
</tr>
<tr>
<td>Loan Status:</td>
<td class="text-right"><span class="kt-font-info">Pending</span></td>
</tr>
</tbody>
</table>
</div>


<div class="naira__header">
<h3 class="naira__title">
Account Details
</h3>
<span class="naira__desc">
Your bank account information
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>	
<tr>
<td>Account Name:</td>
<td class="text-right">Akin Wumi</td>
</tr>
<tr>
<td>Bank Name:</td>
<td class="text-right">Zenith Bank</td>
</tr>
<tr>
<td>Account No:</td>
<td class="text-right">2009586808</td>
</tr>
</tbody>
</table>
</div>


<div class="naira__header">
<h3 class="naira__title">
Loan Term
</h3>
<span class="naira__desc">
Your agreement with Nairalife
</span>
</div>

<div class="aboutn">
<p>
I need this loan for <b>"I am a very responsible guy and this is the begining of our relationship. This is what I hope for and I will be glad"</b> and I promise to repay on instalment &#8358;2,250 weekly for 3 months for a total of &#8358;27,000 and at an interest rate of 35% starting after 2 weeks of receiving loan.
</p>
</div>


<div class="kt-login__btn kt-margin-t-20">
<button class="btn btn-secondary btn-taller btn-pill btn-wider">
<i class="la la-close"></i>Cancel Request
</button>
<a href="tel:08127574549" class="btn btn-warning btn-taller btn-pill btn-wider">
<i class="la la-phone"></i>Contact Us
</a>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->













<script type="text/javascript" src="/js/custom/script.js"></script>
<% include footer %>