<div class="tab-pane active" id="kt_tabs_7_1" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<tbody>
<tr style="border-top:0">
<td class="kt-font-bold" style="border-top:0">Full Name:</td>
<td class="text-right" style="border-top:0">
Akin Wumi
</td>
</tr>
<tr>
<td class="kt-font-bold">Phone Number:</td>
<td class="text-right">08121636121</td>
</tr>
<tr>
<td class="kt-font-bold">Joined Nairalife On:</td>
<td class="text-right">12-12-2019</td>
</tr>
<tr>
<td class="kt-font-bold">Nairalife Score:</td>
<td class="text-right">
69 / 100
</td>
</tr>
<tr>
<td class="kt-font-bold">Nairalife Points:</td>
<td class="text-right">
812
</td>
</tr>
<tr>
<td class="kt-font-bold">Default Rate:</td>
<td class="text-right">12%</td>
</tr>
</tbody>
</table>
</div>

<div class="aboutn">
<p class="border-dash" style="padding:5px 0 0;"></p>
<p class="text-primary kt-margin-10 kt-margin-b-20">
<b>Please note:</b> only members who have reached a Nairalife score of at least 70 / 100 or more can make a request for a higher purchase car.
<br>
For more information, please call or message us on whatsapp on <b><a href="tel:08127596979">08127596979</a></b>
</p>
<form class="kt-padding-10">
<div class="form-group kt-margin-t-0">
<textarea class="form-control" rows="3" placeholder="Briefly explain to us why you need a higher purchase car" name="hp" required="required">
</textarea>
</div>
<div class="kt-margin-t-10">
<button type="submit" class="btn btn-tallest btn-wide btn-warning">
<i class="la la-automobile" style="font-size:1.8rem;"></i>Make Request
</button>
</div>
</form>

</div>

</div>
<!-- end of tabpanel-->