<% include meta %>
<% include header %>
<% include link %>


<!--begin::Portlet-->
<div class="kt-portlet btopzero kt-padding-10">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label"><span class="kt-portlet__head-title">Please tell us about where you live</span></div>
</div>	


<div class="kt-portlet__body">

<div class="alert alert-danger alert-bold fade show kt-margin-t-10 otp-error residence-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>	

<!--begin::Form-->
<form class="kt-form residence-form kt-margin-t-10" action="" novalidate="novalidate">
<div class="form-group">
<textarea class="form-control" placeholder="Please enter your house address" name="address" style="height:95px" required="true">
</textarea>
</div>
<div class="form-group">
<input class="form-control form-control-lg" type="text" placeholder="Popular landmark nearest to your place of residence" name="landmark" 
required="true">
</div>

<div class="form-group">
<select class="custom-select custom-select-lg" name="city">
<option value="">Select city</option>
<option value="Lagos">Lagos</option>
<option value="Abuja">Abuja</option>
<option value="Port Harcourt">Port Harcourt</option>
<option value="Ibadan">Ibadan</option>
</select>
</div>


<div class="form-group">
<select class="custom-select custom-select-lg" name="state">
<option value="">Select State</option>
<option value="Lagos">Lagos State</option>
<option value="FCT">FCT</option>
<option value="Rivers">Rivers State</option>
<option value="Oyo">Oyo State</option>
</select>
</div>


<div class="kt-login__btn kt-margin-t-30">
<button id="kt_login_signin_submit" class="btn btn-primary btn-taller btn-pill btn-wider kt-login__btn-primary residence-submit">
<i class="la la-map-marker"></i><span class="residence-text">Save Residence</span>
</button>
</div>
</form>
<!--end::Form-->

</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->
<% include footer %>

<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/residence.js"></script>