<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-10">
<div class="kt-section__content table-responsive">
<table class="table">
<thead>
<tr>
<th class="kt-font-bolder" colspan="2">My Nairalife Statistics</th>
</tr>
</thead>
<tbody>
<tr>
<td class="kt-font-bold">My Nairascore:</td>
<td class="text-right" data-format="number"><%= user.nairascore %></td>
</tr>
<tr>
<td class="kt-font-bold">My Nairapoints:</td>
<td class="text-right" data-format="number"><%= user.nairapoints %></td>
</tr>
<tr>
<td class="kt-font-bold">My Guarantor Code:</td>
<td class="text-right"><%= user.user_id %></td>
</tr>
<tr>
<td class="kt-font-bold">My Contributions:</td>
<td class="text-right" data-format="number">&#8358;180,000</td>
</tr>
<tr>
<td class="kt-font-bold">My Balance:</td>
<td class="text-right" data-format="number">&#8358;<%= user.balance %></td>
</tr>
</tbody>
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->