<!--Begin::Section-->
<% if(group && group.status == "active") { %>
<!--begin::Portlet-->
<div class="kt-portlet">
<div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10">
<ul class="nav nav-tabs  nav-tabs-line nav-tabs-bolder nav-tabs-line-primary" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-edit"></i>Group Info
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_3" role="tab">
<i class="la la-hourglass-2"></i>Contributions
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-group"></i>Group Members
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_4" role="tab">
<i class="la la-lightbulb-o"></i>Comments
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_6" role="tab">
<i class="la la-history"></i>Receiving Order
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_5" role="tab">
<i class="la la-question-circle"></i>Questions
</a>
</li>
</ul>
<div class="tab-content kt-margin-t-10">
<% include abt %>
<% include members %>
<% include contributions %>
<% include order %>
<% include comments %>
<% include faq %>
</div>
<!--end::tab-content-->
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->
<% } %>

<% if(!group || group.status != "active") { %>

<% include autohistory %>	

<% } %>