<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Terms Of Service</h3>
</div>
<div class="aboutn">
<p>
Please read these Terms of Service, which set forth the legally binding terms and conditions for your use of the services (the “Service”) offered by Token Technologies Limited. (Nairalife or the “Company”) and the website at https://www.nairalife.com website (“Site”).
</p>
<p>
Your access to use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service and all applicable laws and all conditions or policies referenced here (collectively, the “Terms of Use”)
</p>
<p>
By accessing or using the Service, you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service and that the Company may use any information the Company obtains about you in accordance with the provisions of the Privacy Policy.	
</p>



<p class="border-dash"></p>
<h4>Summary of Service</h4>
<p>
Nairalife is a digital installment platform that give our members foreign used cars on hire purchase for their ride-hailing businesses cheaply and pay conveniently.
</p>


<p class="border-dash"></p>
<h4>Obligation and Eligibility</h4>
<p>
You must be 18 or older to access our website and must be an uber or a bolt partner to register with us.
</p>
<p>
Any access to or use of Nairalife by anyone under 18 is unauthorized, unlicensed, and in violation of these Terms Of Service. By accessing or using Nairalife, you represent and warrant that you are 18 or older.	
</p>



<p class="border-dash"></p>
<h4>Acceptance of terms</h4>
<p>
The Service is offered subject to acceptance of all of the terms and conditions contained in these Terms of Use and all other operating rules, policies, and procedures that may be published on the Site by the Company, which are incorporated by reference, including operating rules, policies, and procedures of third party service providers to the Site that are referenced herein. These Terms of Use apply to every user of the Service. In addition, some Services offered through the Site may be subject to additional terms and conditions adopted by the Company. Your use of those services is subject to those additional terms and conditions, which are incorporated into these Terms of Use by this reference.
</p>
<p>
The Company reserves the right, at its sole discretion, to modify or replace these Terms of Use from time to time by posting the updated terms on the Site. It is your responsibility to check the Terms of Use periodically for changes. If you object to any such changes, your sole recourse will be to cease using the Site and the Service. Your continued use of the Service following the posting of any changes to the Terms of Use will indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.
</p>
<p>
The Company reserves the right to change, suspend, or discontinue the Service (including, but not limited to, the availability of any feature, database, or Content) at any time for any reason. The Company may also impose limits on certain features and Services or restrict your access to parts of or the entire Site without notice or liability.
</p>
<p>
By submitting such information, you grant us the right to provide the information to third parties for purposes of facilitating the completion of Purchases.
</p>




<p class="border-dash"></p>
<h4>User Accounts</h4>
<p>
When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
</p>
<p>
You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
</p>
<p>
You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account. You may not use the details of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.
</p>


<p class="border-dash"></p>
<h4>Sms Alerts and Notifications</h4>
<p>
By creating a User Account, you automatically sign up for various types of alerts via sms and web notification. We never include your password in these communications, but we may include your name, or any other information about your account if you are a member. Anyone with access to your phone number or mobile device will be able to view these alerts. You may not unsubscribe from these alerts at this current time.
</p>



<p class="border-dash"></p>
<h4>Intellectual Property</h4>
<p>
The Service and its original content, features and functionality are and will remain the exclusive property of Token Technologies Limited. The Service is protected by copyright, trademark, and other laws of The Federal Republic of Nigeria. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Token Technologies Limited.
</p>
<p>
User shall not directly or indirectly: 
<br>(i) decipher, decompile, disassemble, reverse engineer, or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the extent applicable laws specifically prohibit such restriction; 
<br>(ii) modify, translate, or otherwise create derivative works of any part of the Service; or 
<br>(iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder.
</p>
<p>
If you choose to provide technical, business or other feedback to the Company concerning the Site or the Services (collectively, “Feedback”), the Company will be free to use, disclose, reproduce, license, or otherwise distribute or exploit such Feedback in its sole discretion without any obligations or restrictions of any kind, including intellectual property rights or licensing obligations. You understand and agree that the incorporation by the Company of Feedback into any of its products or services does not grant you any proprietary rights therein.
</p>



<p class="border-dash"></p>
<h4>Links to Other Websites</h4>
<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Nairalife.</p>
<p>
Nairalife has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that Nairalife shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.
</p>
<p>
We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
</p>




<p class="border-dash"></p>
<h4>Termination</h4>
<p>
We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.
</p>


<p class="border-dash"></p>
<h4>Disclaimer Warranties</h4>
<p>
Your use of Nairalife's website, and the personal information you provide is at your sole discretion. Nairalife's website and all materials, information, products and services included therein, are provided on an AS IS and AS AVAILABLE basis without warranties of any kind from Nairalife.
</p>
<p>
NAIRALIFE EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED OR STATUTORY, RELATING TO NAIRALIFE'S WEBSITE, CONTENT AND/OR USER INFORMATION, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OF PROPRIETARY RIGHTS, COURSE OF DEALING OR COURSE OF PERFORMANCE. NAIRALIFE DISCLAIMS ANY WARRANTIES, EXPRESS OR IMPLIED:	
</p>
<ol>
<li>
REGARDING THE AVAILABILITY, SECURITY, ACCURACY, RELIABILITY, TIMELINESS AND PERFORMANCE OF NAIRALIFE'S WEBSITE, CONTENT AND/OR USER INFORMATION;
</li>
<li>
THAT NAIRALIFE'S WEBSITE WILL BE ERROR-FREE OR THAT ANY ERRORS WILL BE CORRECTED;	
</li>
<li>
THAT NAIRALIFE'S WEBSITE WILL BE FREE FROM ELECTRONIC VIRUSES; OR	
</li>
<li>
REGARDING THE PERFORMANCE OF OR ACCURACY, QUALITY, CURRENCY, COMPLETENESS OR USEFULNESS OF ANY INFORMATION PROVIDED BY NAIRALIFE ON ITS WEBSITE INCLUDING BUT NOT LIMITED TO INFORMATION OBTAINED THROUGH SOCIAL MEDIA.
</li>
</ol>
<p>
No advice or information, whether oral or written, obtained by you from Nairalife's website, shall create any warranty not expressly stated in this Agreement. If you choose to rely on such information, you do so solely at your own risk.
</p>



<p class="border-dash"></p>
<h4>Indemnification</h4>
<p>
shall defend, indemnify, and hold harmless Nairalife, its affiliates and each of its, and its affiliates employees, 
contractors, directors, members and representatives from all liabilities, claims, and expenses, including reasonable attorneys’ fees, that arise from or relate to your use or misuse of, or access to, the Site, Service, Content or otherwise from your User Submissions, violation of the Agreement, or infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. Nairalife reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with Nairalife in asserting any available defenses.
</p>


<p class="border-dash"></p>
<h4>Limitation Of Liability</h4>
<p>
In no event shall Nairalife, its directors, employees, partners, agents, members, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of savings and contributions, data, use, goodwill, or other intangible losses, resulting from 
<br>(i) your access to or use of or inability to access or use the Service; 
<br>(ii) any conduct or content of any third party on the Service; 
<br>(iii) any content obtained from the Service; and 
<br>(iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.
</p>



<p class="border-dash"></p>
<h4>Governing Law</h4>
<p>
These Terms shall be governed and construed in accordance with the laws of The Federal Republic of Nigeria, without regard to its conflict of law provisions.
</p>
<p>
Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
</p>



<p class="border-dash"></p>
<h4>Changes To Terms</h4>
<p>
Nairalife reserves the right, in its sole discretion, to change the Terms under which Nairalife.com is offered. The most current version of the Terms will supersede all previous versions. Nairalife encourages you to periodically review the Terms to stay informed of our updates.
</p>
</div>
<% include footer2 %>
</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>