<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
<!--begin::Body-->
<div class="kt-login__body" id="login-section">
<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Account Verification</h3>
<h4>We want to ensure that you are actually ride-hailing driver</h4>
</div>
<div class="aboutn">

<p>
Send your Uber or Bolt (formerly taxify) profile screenshot and a picture of your drivers license to us on WhatsApp below and get approved immediately
</p>
<!-- <p>
1) Bank Statement for the last six months (please note that this must contain references to your transactions with Uber and/or Bolt during this period)
</p>
<p>2) Uber / Bolt profile ratings screenshot</p>
<p>3) Uber / Bolt trips history screenshot</p>
<p>4) Your official profile picture</p>
<p>5) Valid drivers license</p> -->
</div>

<div class="kt-login__btn kt-margin-t-10">
<a href="https://wa.me/2348127574549" class="btn btn-primary btn-tallest btn-widest btn-pill">
<i class="la la-thumbs-up"></i><span class="login-text">Verify Account Now</span>
</a>
</div>


<!--begin::Divider-->
<div class="kt-login__divider kt-margin-t-30">
<div class="kt-divider">
<span></span>
<span>OR</span>
<span></span>
</div>
</div>
<!--end::Divider-->


<div class="kt-login__bottom">
<div class="kt-login__signup-label kt-margin-b-10">
If you need further information or guidance, <br> you can call us anytime on <b><a href="tel:08127574549">08127574549</a></b>
</div>
<div class="kt-login__btn kt-margin-t-10">
<a href="tel:08127574549" class="btn btn-warning btn-tallest btn-widest btn-pill kt-margin-b-10">
<i class="la la-phone"></i> Call Us Now</a>
</div>
</div>


<% include footer2 %>

</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>
</body>
<!-- end::Body -->
</html>
<script type="text/javascript" src="js/custom/script.js"></script>